openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Earthquakehistory API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Earthquakehistory
paths:
  /risks/v1/earthquakehistory:
    get:
      description: Accepts postcode as input and Returns historical earthquake details for a particular postcode.
      operationId: getEarthquakeHistory
      parameters:
      - description: 5 digit Postal code to search
        in: query
        name: postCode
        required: true
        schema:
          type: string
      - description: Start time in milliseconds(UTC)
        in: query
        name: startDate
        required: false
        schema:
          type: string
      - description: End time in milliseconds(UTC)
        in: query
        name: endDate
        required: false
        schema:
          type: string
      - description: Minimum richter scale magnitude
        in: query
        name: minMagnitude
        required: false
        schema:
          type: string
      - description: Maximum Richter scale magnitude
        in: query
        name: maxMagnitude
        required: false
        schema:
          type: string
      - description: Maximum response events
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/earthquakeHistory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Earthquake History
      tags:
      - Earthquakehistory
      x-accepts: application/json
components:
  schemas:
    Magnitude:
      example:
        surfaceWave: 5.637376656633329
        bodyWave: 5.962133916683182
        bodyWaveValue: 7.061401241503109
        scale: scale
        surfaceWaveValue: 2.3021358869347655
        value: 1.4658129805029452
      properties:
        value:
          format: double
          type: number
        scale:
          type: string
        bodyWave:
          format: double
          type: number
        surfaceWave:
          format: double
          type: number
        surfaceWaveValue:
          format: double
          type: number
          writeOnly: true
        bodyWaveValue:
          format: double
          type: number
          writeOnly: true
      type: object
    Depth:
      example:
        unit: unit
        value: 6
      properties:
        unit:
          type: string
        value:
          format: int32
          type: integer
      type: object
    earthquakeHistory:
      example:
        county: county
        stateCode: stateCode
        postCode: postCode
        events:
          earthuakeEvents:
          - dateTime:
              date: date
              time: time
            intensity: 9
            culturalEffect: culturalEffect
            depth:
              unit: unit
              value: 6
            diastrophism: diastrophism
            cause: cause
            magnitude:
              surfaceWave: 5.637376656633329
              bodyWave: 5.962133916683182
              bodyWaveValue: 7.061401241503109
              scale: scale
              surfaceWaveValue: 2.3021358869347655
              value: 1.4658129805029452
            location:
              coordinates:
              - 3.616076749251911
              - 3.616076749251911
              type: type
            miscPhenomena: miscPhenomena
            seismicRegionNumber: 0
          - dateTime:
              date: date
              time: time
            intensity: 9
            culturalEffect: culturalEffect
            depth:
              unit: unit
              value: 6
            diastrophism: diastrophism
            cause: cause
            magnitude:
              surfaceWave: 5.637376656633329
              bodyWave: 5.962133916683182
              bodyWaveValue: 7.061401241503109
              scale: scale
              surfaceWaveValue: 2.3021358869347655
              value: 1.4658129805029452
            location:
              coordinates:
              - 3.616076749251911
              - 3.616076749251911
              type: type
            miscPhenomena: miscPhenomena
            seismicRegionNumber: 0
          event:
          - dateTime:
              date: date
              time: time
            intensity: 9
            culturalEffect: culturalEffect
            depth:
              unit: unit
              value: 6
            diastrophism: diastrophism
            cause: cause
            magnitude:
              surfaceWave: 5.637376656633329
              bodyWave: 5.962133916683182
              bodyWaveValue: 7.061401241503109
              scale: scale
              surfaceWaveValue: 2.3021358869347655
              value: 1.4658129805029452
            location:
              coordinates:
              - 3.616076749251911
              - 3.616076749251911
              type: type
            miscPhenomena: miscPhenomena
            seismicRegionNumber: 0
          - dateTime:
              date: date
              time: time
            intensity: 9
            culturalEffect: culturalEffect
            depth:
              unit: unit
              value: 6
            diastrophism: diastrophism
            cause: cause
            magnitude:
              surfaceWave: 5.637376656633329
              bodyWave: 5.962133916683182
              bodyWaveValue: 7.061401241503109
              scale: scale
              surfaceWaveValue: 2.3021358869347655
              value: 1.4658129805029452
            location:
              coordinates:
              - 3.616076749251911
              - 3.616076749251911
              type: type
            miscPhenomena: miscPhenomena
            seismicRegionNumber: 0
      properties:
        stateCode:
          type: string
        county:
          type: string
        postCode:
          type: string
        events:
          $ref: '#/components/schemas/EarthquakeEventsResponse'
      type: object
    EarthquakeEventsResponse:
      example:
        earthuakeEvents:
        - dateTime:
            date: date
            time: time
          intensity: 9
          culturalEffect: culturalEffect
          depth:
            unit: unit
            value: 6
          diastrophism: diastrophism
          cause: cause
          magnitude:
            surfaceWave: 5.637376656633329
            bodyWave: 5.962133916683182
            bodyWaveValue: 7.061401241503109
            scale: scale
            surfaceWaveValue: 2.3021358869347655
            value: 1.4658129805029452
          location:
            coordinates:
            - 3.616076749251911
            - 3.616076749251911
            type: type
          miscPhenomena: miscPhenomena
          seismicRegionNumber: 0
        - dateTime:
            date: date
            time: time
          intensity: 9
          culturalEffect: culturalEffect
          depth:
            unit: unit
            value: 6
          diastrophism: diastrophism
          cause: cause
          magnitude:
            surfaceWave: 5.637376656633329
            bodyWave: 5.962133916683182
            bodyWaveValue: 7.061401241503109
            scale: scale
            surfaceWaveValue: 2.3021358869347655
            value: 1.4658129805029452
          location:
            coordinates:
            - 3.616076749251911
            - 3.616076749251911
            type: type
          miscPhenomena: miscPhenomena
          seismicRegionNumber: 0
        event:
        - dateTime:
            date: date
            time: time
          intensity: 9
          culturalEffect: culturalEffect
          depth:
            unit: unit
            value: 6
          diastrophism: diastrophism
          cause: cause
          magnitude:
            surfaceWave: 5.637376656633329
            bodyWave: 5.962133916683182
            bodyWaveValue: 7.061401241503109
            scale: scale
            surfaceWaveValue: 2.3021358869347655
            value: 1.4658129805029452
          location:
            coordinates:
            - 3.616076749251911
            - 3.616076749251911
            type: type
          miscPhenomena: miscPhenomena
          seismicRegionNumber: 0
        - dateTime:
            date: date
            time: time
          intensity: 9
          culturalEffect: culturalEffect
          depth:
            unit: unit
            value: 6
          diastrophism: diastrophism
          cause: cause
          magnitude:
            surfaceWave: 5.637376656633329
            bodyWave: 5.962133916683182
            bodyWaveValue: 7.061401241503109
            scale: scale
            surfaceWaveValue: 2.3021358869347655
            value: 1.4658129805029452
          location:
            coordinates:
            - 3.616076749251911
            - 3.616076749251911
            type: type
          miscPhenomena: miscPhenomena
          seismicRegionNumber: 0
      properties:
        earthuakeEvents:
          items:
            $ref: '#/components/schemas/EarthquakeEvent'
          type: array
          writeOnly: true
        event:
          items:
            $ref: '#/components/schemas/EarthquakeEvent'
          type: array
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    EarthquakeLocation:
      example:
        coordinates:
        - 3.616076749251911
        - 3.616076749251911
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      type: object
    EarthquakeEvent:
      example:
        dateTime:
          date: date
          time: time
        intensity: 9
        culturalEffect: culturalEffect
        depth:
          unit: unit
          value: 6
        diastrophism: diastrophism
        cause: cause
        magnitude:
          surfaceWave: 5.637376656633329
          bodyWave: 5.962133916683182
          bodyWaveValue: 7.061401241503109
          scale: scale
          surfaceWaveValue: 2.3021358869347655
          value: 1.4658129805029452
        location:
          coordinates:
          - 3.616076749251911
          - 3.616076749251911
          type: type
        miscPhenomena: miscPhenomena
        seismicRegionNumber: 0
      properties:
        dateTime:
          $ref: '#/components/schemas/EarthquakeDateTime'
        seismicRegionNumber:
          format: int32
          type: integer
        depth:
          $ref: '#/components/schemas/Depth'
        magnitude:
          $ref: '#/components/schemas/Magnitude'
        cause:
          type: string
        culturalEffect:
          type: string
        intensity:
          format: int32
          type: integer
        diastrophism:
          type: string
        miscPhenomena:
          type: string
        location:
          $ref: '#/components/schemas/EarthquakeLocation'
      type: object
    EarthquakeDateTime:
      example:
        date: date
        time: time
      properties:
        date:
          type: string
        time:
          type: string
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
