openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Byboundaryname API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Byboundaryname
paths:
  /addresses/v1/addresscount/byboundaryname:
    get:
      description: This service accepts zip code, neighborhood, county, or city names, and returns the total number of addresses associated with these names.
      operationId: getAddressesCountByBoundaryName
      parameters:
      - description: Specifies the largest geographical area, typically a state or province.
        in: query
        name: areaName1
        required: false
        schema:
          type: string
      - description: Specifies the secondary geographic area, typically a county or district.
        in: query
        name: areaName2
        required: false
        schema:
          type: string
      - description: Specifies a city or town name.
        in: query
        name: areaName3
        required: false
        schema:
          type: string
      - description: Specifies a city subdivision or locality/neighborhood.
        in: query
        name: areaName4
        required: false
        schema:
          type: string
      - description: Specifies the postcode (ZIP code) in the appropriate format for the country.
        in: query
        name: postCode
        required: false
        schema:
          type: string
      - description: Name of country. Acceptable values are CAN, USA.
        in: query
        name: country
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addressesCount'
            application/xml:
              schema:
                $ref: '#/components/schemas/addressesCount'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Addresses Count by Boundary Name.
      tags:
      - Byboundaryname
      x-accepts: application/json
components:
  schemas:
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
    addressesCount:
      example:
        totalAddressesFound: 0
      properties:
        totalAddressesFound:
          format: int32
          type: integer
      type: object
      xml:
        name: addressesCount
    ErrorInfo:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
          xml:
            name: error
      type: object
      xml:
        name: errors
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
