openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Intersection API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Intersection
paths:
  /streets/v1/intersection/bylocation:
    get:
      description: This service accepts latitude/longitude as input and returns the Nearest Intersection.
      operationId: getIntersectionByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Filters roads with specified class, allowed values are (Major, Secondary, Other and All), default is All
        in: query
        name: roadClass
        required: false
        schema:
          type: string
      - description: Returns Intersection in specified drive time
        in: query
        name: driveTime
        required: false
        schema:
          type: string
      - description: Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes
        in: query
        name: driveTimeUnit
        required: false
        schema:
          type: string
      - description: Search radius within which user wants to search, default is 50 miles
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Search radius unit, allowed values are (feet, meter, kilometers and miles)
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT)
        in: query
        name: historicSpeed
        required: false
        schema:
          type: string
      - description: max candidates to be returned default is 1
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntersectionResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Nearest Intesection By Location.
      tags:
      - Intersection
      x-accepts: application/json
  /streets/v1/intersection/byaddress:
    get:
      description: This service accepts an address as input and returns the Nearest Intersection.
      operationId: getIntersectionByAddress
      parameters:
      - description: Address
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: Filters roads with specified class, allowed values are (Major, Secondary, Other and All), default is All
        in: query
        name: roadClass
        required: false
        schema:
          type: string
      - description: Returns Intersection in specified drive time
        in: query
        name: driveTime
        required: false
        schema:
          type: string
      - description: Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes
        in: query
        name: driveTimeUnit
        required: false
        schema:
          type: string
      - description: Search radius within which user wants to search, default is 50 miles
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Search radius unit, allowed values are (feet, meter, kilometers and miles)
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT)
        in: query
        name: historicSpeed
        required: false
        schema:
          type: string
      - description: max candidates to be returned default is 1
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntersectionResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Nearest Intesection By Address.
      tags:
      - Intersection
      x-accepts: application/json
components:
  schemas:
    road:
      example:
        endingLevel: endingLevel
        routeNumber: routeNumber
        trafficFlow: trafficFlow
        surfaceType: surfaceType
        roadClass: roadClass
        beginningLevel: beginningLevel
        name: name
        lengthInMeters: lengthInMeters
        id: id
        altName: altName
        type: type
        isToll: isToll
      properties:
        id:
          type: string
        name:
          type: string
        altName:
          type: string
        roadClass:
          type: string
        type:
          type: string
        lengthInMeters:
          type: string
        routeNumber:
          type: string
        surfaceType:
          type: string
        trafficFlow:
          type: string
        isToll:
          type: string
        beginningLevel:
          type: string
        endingLevel:
          type: string
      type: object
    address_1:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    Unit:
      example:
        unit: unit
        value: 0.8008281904610115
      properties:
        value:
          format: double
          type: number
        unit:
          type: string
      type: object
    Intersection:
      example:
        driveDistance:
          unit: unit
          value: 0.8008281904610115
        distance:
          unit: unit
          value: 0.8008281904610115
        driveTime:
          unit: unit
          value: 0.8008281904610115
        roads:
        - endingLevel: endingLevel
          routeNumber: routeNumber
          trafficFlow: trafficFlow
          surfaceType: surfaceType
          roadClass: roadClass
          beginningLevel: beginningLevel
          name: name
          lengthInMeters: lengthInMeters
          id: id
          altName: altName
          type: type
          isToll: isToll
        - endingLevel: endingLevel
          routeNumber: routeNumber
          trafficFlow: trafficFlow
          surfaceType: surfaceType
          roadClass: roadClass
          beginningLevel: beginningLevel
          name: name
          lengthInMeters: lengthInMeters
          id: id
          altName: altName
          type: type
          isToll: isToll
        geometry:
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
      properties:
        distance:
          $ref: '#/components/schemas/Unit'
        driveTime:
          $ref: '#/components/schemas/Unit'
        driveDistance:
          $ref: '#/components/schemas/Unit'
        geometry:
          $ref: '#/components/schemas/Geometry'
        roads:
          items:
            $ref: '#/components/schemas/road'
          type: array
          uniqueItems: true
      type: object
    Geometry:
      example:
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    IntersectionResponse:
      example:
        intersection:
        - driveDistance:
            unit: unit
            value: 0.8008281904610115
          distance:
            unit: unit
            value: 0.8008281904610115
          driveTime:
            unit: unit
            value: 0.8008281904610115
          roads:
          - endingLevel: endingLevel
            routeNumber: routeNumber
            trafficFlow: trafficFlow
            surfaceType: surfaceType
            roadClass: roadClass
            beginningLevel: beginningLevel
            name: name
            lengthInMeters: lengthInMeters
            id: id
            altName: altName
            type: type
            isToll: isToll
          - endingLevel: endingLevel
            routeNumber: routeNumber
            trafficFlow: trafficFlow
            surfaceType: surfaceType
            roadClass: roadClass
            beginningLevel: beginningLevel
            name: name
            lengthInMeters: lengthInMeters
            id: id
            altName: altName
            type: type
            isToll: isToll
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
        - driveDistance:
            unit: unit
            value: 0.8008281904610115
          distance:
            unit: unit
            value: 0.8008281904610115
          driveTime:
            unit: unit
            value: 0.8008281904610115
          roads:
          - endingLevel: endingLevel
            routeNumber: routeNumber
            trafficFlow: trafficFlow
            surfaceType: surfaceType
            roadClass: roadClass
            beginningLevel: beginningLevel
            name: name
            lengthInMeters: lengthInMeters
            id: id
            altName: altName
            type: type
            isToll: isToll
          - endingLevel: endingLevel
            routeNumber: routeNumber
            trafficFlow: trafficFlow
            surfaceType: surfaceType
            roadClass: roadClass
            beginningLevel: beginningLevel
            name: name
            lengthInMeters: lengthInMeters
            id: id
            altName: altName
            type: type
            isToll: isToll
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        intersection:
          items:
            $ref: '#/components/schemas/Intersection'
          type: array
        matchedAddress:
          $ref: '#/components/schemas/address_1'
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
