openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Advanced API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Advanced
paths:
  /demographics-segmentation/v1/advanced/demographics:
    post:
      description: 'Demographics Advanced Endpoint will return the aggregated values of the selected demographics variables of the regions falling inside a user provided geometry or travel time/distance boundaries. All the intersecting demographic boundaries will be snapped completely, and user will have option to request these boundaries in response.  '
      operationId: getDemographicsAdvanced
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemographicsAdvancedRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics Advanced Endpoint
      tags:
      - Advanced
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    DemographicsAdvancedRequest:
      example:
        preferences:
          filter: filter
          profile: profile
          includeGeometry: includeGeometry
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        geometryAsText: geometryAsText
      properties:
        preferences:
          $ref: '#/components/schemas/DemographicsAdvancedPreferences'
        geometry:
          $ref: '#/components/schemas/DemographicsGeometry'
        geometryAsText:
          type: string
      type: object
    IndividualValueVariable:
      example:
        year: year
        name: name
        description: description
        value: value
      properties:
        name:
          type: string
        description:
          type: string
        year:
          type: string
        value:
          type: string
      type: object
    EmploymentTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    Field:
      example:
        name: name
        description: description
        value: value
      properties:
        value:
          type: string
        name:
          type: string
        description:
          type: string
      type: object
    DemographicsGeometry:
      example:
        crs:
          type: type
          properties:
            name: name
        coordinates: '{}'
        type: type
      properties:
        type:
          type: string
        crs:
          $ref: '#/components/schemas/DemographicsGeometryCRC'
        coordinates:
          type: object
      type: object
    RangeVariable:
      example:
        field:
        - name: name
          description: description
          value: value
        - name: name
          description: description
          value: value
        year: year
        count: count
        name: name
        baseVariable: baseVariable
        alias: alias
        description: description
        order: order
      properties:
        count:
          type: string
        order:
          type: string
        name:
          type: string
        alias:
          type: string
        description:
          type: string
        baseVariable:
          type: string
        year:
          type: string
        field:
          items:
            $ref: '#/components/schemas/Field'
          type: array
      required:
      - field
      type: object
    IncomeTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    GeometryProperties:
      example:
        name: name
      properties:
        name:
          type: string
      type: object
    HouseholdsTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    AssetsAndWealthTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    EducationTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    Boundaries:
      example:
        boundary:
        - boundaryId: boundaryId
          boundaryRef: boundaryRef
          boundaryType: boundaryType
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          url: url
        - boundaryId: boundaryId
          boundaryRef: boundaryRef
          boundaryType: boundaryType
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          url: url
        boundaryRef: boundaryRef
        boundaryType: boundaryType
      properties:
        boundaryType:
          type: string
        boundaryRef:
          type: string
        boundary:
          items:
            $ref: '#/components/schemas/Boundary'
          type: array
      required:
      - boundary
      type: object
    DemographicsGeometryCRC:
      example:
        type: type
        properties:
          name: name
      properties:
        type:
          type: string
        properties:
          $ref: '#/components/schemas/GeometryProperties'
      type: object
    PopulationTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    Boundary:
      example:
        boundaryId: boundaryId
        boundaryRef: boundaryRef
        boundaryType: boundaryType
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        url: url
      properties:
        boundaryId:
          type: string
        boundaryType:
          type: string
        boundaryRef:
          type: string
        geometry:
          $ref: '#/components/schemas/DemographicsGeometry'
        url:
          type: string
      type: object
    ExpenditureTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    DemographicsThemesV2:
      example:
        householdsTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        supplyAndDemandTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        housingTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        employmentTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        boundaryId: boundaryId
        incomeTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        assetsAndWealthTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        healthTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        educationTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        raceAndEthnicityTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        expenditureTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        populationTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
      properties:
        boundaryId:
          type: string
        populationTheme:
          $ref: '#/components/schemas/PopulationTheme'
        raceAndEthnicityTheme:
          $ref: '#/components/schemas/RaceAndEthnicityTheme'
        healthTheme:
          $ref: '#/components/schemas/HealthTheme'
        educationTheme:
          $ref: '#/components/schemas/EducationTheme'
        incomeTheme:
          $ref: '#/components/schemas/IncomeTheme'
        assetsAndWealthTheme:
          $ref: '#/components/schemas/AssetsAndWealthTheme'
        householdsTheme:
          $ref: '#/components/schemas/HouseholdsTheme'
        housingTheme:
          $ref: '#/components/schemas/HousingTheme'
        employmentTheme:
          $ref: '#/components/schemas/EmploymentTheme'
        expenditureTheme:
          $ref: '#/components/schemas/ExpenditureTheme'
        supplyAndDemandTheme:
          $ref: '#/components/schemas/SupplyAndDemandTheme'
      type: object
    SupplyAndDemandTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    Demographics:
      example:
        themes:
          householdsTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          supplyAndDemandTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          housingTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          employmentTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          boundaryId: boundaryId
          incomeTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          assetsAndWealthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          healthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          educationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          raceAndEthnicityTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          expenditureTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          populationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
        boundaryThemes:
        - householdsTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          supplyAndDemandTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          housingTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          employmentTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          boundaryId: boundaryId
          incomeTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          assetsAndWealthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          healthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          educationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          raceAndEthnicityTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          expenditureTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          populationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
        - householdsTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          supplyAndDemandTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          housingTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          employmentTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          boundaryId: boundaryId
          incomeTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          assetsAndWealthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          healthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          educationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          raceAndEthnicityTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          expenditureTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          populationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
        boundaries:
          boundary:
          - boundaryId: boundaryId
            boundaryRef: boundaryRef
            boundaryType: boundaryType
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            url: url
          - boundaryId: boundaryId
            boundaryRef: boundaryRef
            boundaryType: boundaryType
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            url: url
          boundaryRef: boundaryRef
          boundaryType: boundaryType
      properties:
        boundaries:
          $ref: '#/components/schemas/Boundaries'
        themes:
          $ref: '#/components/schemas/DemographicsThemesV2'
        boundaryThemes:
          items:
            $ref: '#/components/schemas/DemographicsThemesV2'
          type: array
      required:
      - boundaries
      - themes
      type: object
    HealthTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    HousingTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    RaceAndEthnicityTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    DemographicsAdvancedPreferences:
      example:
        filter: filter
        profile: profile
        includeGeometry: includeGeometry
      properties:
        profile:
          type: string
        filter:
          type: string
        includeGeometry:
          type: string
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
