openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Firehistory API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Firehistory
paths:
  /risks/v1/firehistory:
    get:
      description: Accepts postcode as input and Returns fire event details for a particular postcode.
      operationId: getFireHistory
      parameters:
      - description: 5 digit Postal code to search
        in: query
        name: postCode
        required: true
        schema:
          type: string
      - description: Start time in milliseconds(UTC)
        in: query
        name: startDate
        required: false
        schema:
          type: string
      - description: End time in milliseconds(UTC)
        in: query
        name: endDate
        required: false
        schema:
          type: string
      - description: Maximum response events
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHistory'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire History
      tags:
      - Firehistory
      x-accepts: application/json
  /risks/v2/firehistory:
    get:
      description: Accepts postcode as input and Returns fire event details for a particular postcode.
      operationId: getFireHistoryV2
      parameters:
      - description: 5 digit Postal code to search
        in: query
        name: postCode
        required: true
        schema:
          type: string
      - description: Start time in milliseconds(UTC)
        in: query
        name: startDate
        required: false
        schema:
          type: string
      - description: End time in milliseconds(UTC)
        in: query
        name: endDate
        required: false
        schema:
          type: string
      - description: Maximum response events
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireHistoryV2'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire History
      tags:
      - Firehistory
      x-accepts: application/json
components:
  schemas:
    Area:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
    FireEventV2:
      example:
        fireEndDate: fireEndDate
        area:
          unit: unit
          value: value
        fireName: fireName
        agency: agency
        fireStartDate: fireStartDate
      properties:
        fireStartDate:
          type: string
        fireEndDate:
          type: string
        fireName:
          type: string
        area:
          $ref: '#/components/schemas/AreaV2'
        agency:
          type: string
      type: object
    FireEventsV2Response:
      example:
        event:
        - fireEndDate: fireEndDate
          area:
            unit: unit
            value: value
          fireName: fireName
          agency: agency
          fireStartDate: fireStartDate
        - fireEndDate: fireEndDate
          area:
            unit: unit
            value: value
          fireName: fireName
          agency: agency
          fireStartDate: fireStartDate
      properties:
        event:
          items:
            $ref: '#/components/schemas/FireEventV2'
          type: array
      type: object
    FireHistory:
      example:
        stateCode: stateCode
        postCode: postCode
        events:
          event:
          - fireEndDate: fireEndDate
            area:
              unit: unit
              value: value
            fireName: fireName
            agency: agency
            fireStartDate: fireStartDate
          - fireEndDate: fireEndDate
            area:
              unit: unit
              value: value
            fireName: fireName
            agency: agency
            fireStartDate: fireStartDate
      properties:
        stateCode:
          type: string
        postCode:
          type: string
        events:
          $ref: '#/components/schemas/FireEventsResponse'
      type: object
    FireEvent:
      example:
        fireEndDate: fireEndDate
        area:
          unit: unit
          value: value
        fireName: fireName
        agency: agency
        fireStartDate: fireStartDate
      properties:
        fireStartDate:
          type: string
        fireEndDate:
          type: string
        fireName:
          type: string
        area:
          $ref: '#/components/schemas/Area'
        agency:
          type: string
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    FireHistoryV2:
      example:
        stateCode: stateCode
        postCode: postCode
        events:
          event:
          - fireEndDate: fireEndDate
            area:
              unit: unit
              value: value
            fireName: fireName
            agency: agency
            fireStartDate: fireStartDate
          - fireEndDate: fireEndDate
            area:
              unit: unit
              value: value
            fireName: fireName
            agency: agency
            fireStartDate: fireStartDate
      properties:
        stateCode:
          type: string
        postCode:
          type: string
        events:
          $ref: '#/components/schemas/FireEventsV2Response'
      type: object
    FireEventsResponse:
      example:
        event:
        - fireEndDate: fireEndDate
          area:
            unit: unit
            value: value
          fireName: fireName
          agency: agency
          fireStartDate: fireStartDate
        - fireEndDate: fireEndDate
          area:
            unit: unit
            value: value
          fireName: fireName
          agency: agency
          fireStartDate: fireStartDate
      properties:
        event:
          items:
            $ref: '#/components/schemas/FireEvent'
          type: array
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
    AreaV2:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
