openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Shoreline API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Shoreline
paths:
  /risks/v1/shoreline/distancetofloodhazard/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByLocation
      parameters:
      - description: The longitude of the location
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: The latitude of the location
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: This specifies the value of maxCandidates
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: This specifies the value of waterBodyType
        in: query
        name: waterBodyType
        required: false
        schema:
          type: string
      - description: This specifies the search distance
        in: query
        name: searchDistance
        required: false
        schema:
          type: string
      - description: miles (default value),feet, kilometers, meters
        in: query
        name: searchDistanceUnit
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaterBodyResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Distance To Flood Hazard By Location
      tags:
      - Shoreline
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Distance To Flood Hazard By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceToFloodHazardLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceToFloodHazardResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Distance To Flood Hazard By Location
      tags:
      - Shoreline
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/shoreline/distancetofloodhazard/byaddress:
    get:
      description: Accepts addresses as input and Returns the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByAddress
      parameters:
      - description: The address of the location
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: This specifies the value of maxCandidates
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: This specifies the value of waterBodyType
        in: query
        name: waterBodyType
        required: false
        schema:
          type: string
      - description: This specifies the search distance
        in: query
        name: searchDistance
        required: false
        schema:
          type: string
      - description: miles (default value),feet, kilometers, meters
        in: query
        name: searchDistanceUnit
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaterBodyResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Distance To Flood Hazard By Address
      tags:
      - Shoreline
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Distance To Flood Hazard By Address' service. It accepts a single address or a list of addresses and retrieve the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceToFloodHazardAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceToFloodHazardResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Distance To Flood Hazard By Address
      tags:
      - Shoreline
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    RiskGeometry:
      example:
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      required:
      - type
      type: object
    RiskLocations:
      example:
        geometry:
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
        objectId: objectId
        purchaseAmount: purchaseAmount
      properties:
        geometry:
          $ref: '#/components/schemas/RiskGeometry'
        purchaseAmount:
          type: string
        objectId:
          type: string
      required:
      - geometry
      type: object
    DistanceToFloodHazardAddressRequest:
      example:
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        preferences:
          waterBodyType: waterBodyType
          maxCandidates: maxCandidates
          searchDistance: searchDistance
          searchDistanceUnit: searchDistanceUnit
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/RiskAddress'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodHazardPreferences'
      required:
      - addresses
      type: object
    RiskAddress:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    WaterBodyResponse:
      example:
        waterBody:
        - distance:
            unit: unit
            value: value
          name: name
          type:
            code: code
            value: value
        - distance:
            unit: unit
            value: value
          name: name
          type:
            code: code
            value: value
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        waterBody:
          items:
            $ref: '#/components/schemas/waterBody'
          type: array
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    FloodHazardPreferences:
      example:
        waterBodyType: waterBodyType
        maxCandidates: maxCandidates
        searchDistance: searchDistance
        searchDistanceUnit: searchDistanceUnit
      properties:
        waterBodyType:
          type: string
        maxCandidates:
          type: string
        searchDistance:
          type: string
        searchDistanceUnit:
          type: string
      type: object
    Type:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    ShoreLineDistance:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
    waterBody:
      example:
        distance:
          unit: unit
          value: value
        name: name
        type:
          code: code
          value: value
      properties:
        name:
          type: string
        distance:
          $ref: '#/components/schemas/ShoreLineDistance'
        type:
          $ref: '#/components/schemas/Type'
      type: object
    DistanceToFloodHazardLocationRequest:
      example:
        preferences:
          waterBodyType: waterBodyType
          maxCandidates: maxCandidates
          searchDistance: searchDistance
          searchDistanceUnit: searchDistanceUnit
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodHazardPreferences'
      required:
      - locations
      type: object
    DistanceToFloodHazardResponse:
      example:
        waterBodies:
        - waterBody:
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - waterBody:
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        waterBodies:
          items:
            $ref: '#/components/schemas/WaterBodyResponse'
          type: array
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
