openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Address  Verification  Service API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Address  Verification  Service
paths:
  /addressverification/v1/getpostalcodes/results.json:
    post:
      deprecated: false
      description: GetPostalCodes takes a city and state as input for U.S. addresses and returns the postal codes for that city.
      operationId: GetPostalCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPostalCodesAPIRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPostalCodesAPIResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: GetPostalCodes
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
  /addressverification/v1/getcitystateprovince/results.json:
    post:
      deprecated: false
      description: GetCityStateProvince returns a city and state/province for a given input postal code for U.S. and Canadian addresses.
      operationId: GetCityStateProvince
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCityStateProvinceAPIRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCityStateProvinceAPIResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: GetCityStateProvince
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
  /addressverification/v1/validatemailingaddressuscan/results.json:
    post:
      deprecated: false
      description: ValidateMailingAddressUSCAN analyses and compares the input addresses against the known address databases around the world to output a standardized detail for US and CANADAIt gives RDI and DPV also along with other US/CAN specific functionalities.
      operationId: ValidateMailingAddressUSCAN
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: ValidateMailingAddressUSCAN
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
  /addressverification/v1/validatemailingaddress/results.json:
    post:
      deprecated: false
      description: ValidateMailingAddress analyses and compares the input addresses against the known address databases around the world to output a standardized detail.
      operationId: ValidateMailingAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMailingAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMailingAddressResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: ValidateMailingAddress
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
  /addressverification/v1/validatemailingaddresspro/results.json:
    post:
      deprecated: false
      description: ValidateMailingAddressPro builds upon the ValidateMailingAddress service by using additional address databases so it can provide enhanced detail.
      operationId: ValidateMailingAddressPro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMailingAddressProRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMailingAddressProResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: ValidateMailingAddressPro
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
  /addressverification/v1/validatemailingaddresspremium/results.json:
    post:
      deprecated: false
      description: ValidateMailing AddressPremium expands on the ValidateMailingAddressPro service by adding premium address data sources to get the best address validation result possible.
      operationId: ValidateMailingAddressPremium
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateMailingAddressPremiumRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateMailingAddressPremiumResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: ValidateMailingAddressPremium
      tags:
      - Address  Verification  Service
      x-codegen-request-body-name: InputAddress
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    ValidateMailingAddressProResponse:
      example:
        Output:
        - Status: Status
          BlockAddress: BlockAddress
          FirmName: FirmName
          Suburb: Suburb
          Locality: Locality
          StateProvince: StateProvince
          AddressQuality: AddressQuality
          PostalCode: PostalCode
          City: City
          Status.Code: Status.Code
          CouldNotValidate: CouldNotValidate
          Deliverability: Deliverability
          AdditionalInputData: AdditionalInputData
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          ChangeScore: ChangeScore
          Country: Country
          Status.Description: Status.Description
          AddressType: AddressType
          PostalCode.AddOn: PostalCode.AddOn
        - Status: Status
          BlockAddress: BlockAddress
          FirmName: FirmName
          Suburb: Suburb
          Locality: Locality
          StateProvince: StateProvince
          AddressQuality: AddressQuality
          PostalCode: PostalCode
          City: City
          Status.Code: Status.Code
          CouldNotValidate: CouldNotValidate
          Deliverability: Deliverability
          AdditionalInputData: AdditionalInputData
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          ChangeScore: ChangeScore
          Country: Country
          Status.Description: Status.Description
          AddressType: AddressType
          PostalCode.AddOn: PostalCode.AddOn
      properties:
        Output:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressProOutput'
          type: array
      type: object
    ValidateMailingAddressUSCANAPIRequest:
      example:
        Input:
          Row:
          - AddressLine3: AddressLine3
            AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            USUrbanName: USUrbanName
            AddressLine4: AddressLine4
            Country: Country
            PostalCode: PostalCode
            City: City
            CanLanguage: CanLanguage
          - AddressLine3: AddressLine3
            AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            USUrbanName: USUrbanName
            AddressLine4: AddressLine4
            Country: Country
            PostalCode: PostalCode
            City: City
            CanLanguage: CanLanguage
        options:
          CanOutputCityFormat: D
          StandardAddressFormat: C
          OutputPostalCodeSeparator: Y
          OutputCasing: M
          CanSSLVRFlg: N
          CanDualAddressLogic: D
          CanEnglishApartmentLabel: Apt
          DPVDetermineNoStat: N
          OutputPreferredCity: Z
          PerformUSProcessing: Y
          PerformLACSLink: Y
          DPVSuccessfulStatusCondition: A
          OutputFormattedOnFail: N
          DPVDetermineVacancy: N
          DualAddressLogic: N
          PerformEWS: N
          OutputMultinationalCharacters: N
          OutputCountryFormat: E
          ExtractUrb: N
          StreetMatchingStrictness: M
          CanOutputCityAlias: N
          FailOnCMRAMatch: N
          OutputRecordType: A
          FirmMatchingStrictness: M
          CanPreferHouseNum: N
          OutputAddressBlocks: Y
          OutputShortCityName: N
          CanStandardAddressFormat: D
          OutputAbbreviatedAlias: N
          OutputFieldLevelReturnCodes: N
          KeepMultimatch: N
          MaximumResults: '10'
          StandardAddressPMBLine: N
          CanNonCivicFormat: A
          CanRuralRouteFormat: A
          CanFrenchFormat: C
          OutputStreetNameAlias: Y
          CanFrenchApartmentLabel: Appartement
          SuppressZplusPhantomCarrierR777: N
          ExtractFirm: N
          CanDeliveryOfficeFormat: I
          OutputPreferredAlias: N
          DirectionalMatchingStrictness: M
          PerformDPV: N
          PerformSuiteLink: N
      properties:
        options:
          $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIOptions'
        Input:
          $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIInput'
      type: object
    ValidateMailingAddressProInput:
      example:
        Row:
        - AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          Country: Country
          PostalCode: PostalCode
          City: City
        - AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          Country: Country
          PostalCode: PostalCode
          City: City
      properties:
        Row:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressProInputRow'
          type: array
      type: object
    ValidateMailingAddressUSCANAPIOptions:
      example:
        CanOutputCityFormat: D
        StandardAddressFormat: C
        OutputPostalCodeSeparator: Y
        OutputCasing: M
        CanSSLVRFlg: N
        CanDualAddressLogic: D
        CanEnglishApartmentLabel: Apt
        DPVDetermineNoStat: N
        OutputPreferredCity: Z
        PerformUSProcessing: Y
        PerformLACSLink: Y
        DPVSuccessfulStatusCondition: A
        OutputFormattedOnFail: N
        DPVDetermineVacancy: N
        DualAddressLogic: N
        PerformEWS: N
        OutputMultinationalCharacters: N
        OutputCountryFormat: E
        ExtractUrb: N
        StreetMatchingStrictness: M
        CanOutputCityAlias: N
        FailOnCMRAMatch: N
        OutputRecordType: A
        FirmMatchingStrictness: M
        CanPreferHouseNum: N
        OutputAddressBlocks: Y
        OutputShortCityName: N
        CanStandardAddressFormat: D
        OutputAbbreviatedAlias: N
        OutputFieldLevelReturnCodes: N
        KeepMultimatch: N
        MaximumResults: '10'
        StandardAddressPMBLine: N
        CanNonCivicFormat: A
        CanRuralRouteFormat: A
        CanFrenchFormat: C
        OutputStreetNameAlias: Y
        CanFrenchApartmentLabel: Appartement
        SuppressZplusPhantomCarrierR777: N
        ExtractFirm: N
        CanDeliveryOfficeFormat: I
        OutputPreferredAlias: N
        DirectionalMatchingStrictness: M
        PerformDPV: N
        PerformSuiteLink: N
      properties:
        OutputAddressBlocks:
          default: Y
          description: Specifies whether to return a formatted version of the address.
          type: string
        PerformUSProcessing:
          default: Y
          description: Specifies whether or not to process U.S. addresses.
          type: string
        PerformDPV:
          default: N
          description: Delivery Point Validation (DPV�) validates that a specific address exists
          type: string
        OutputFormattedOnFail:
          default: N
          description: Specifies whether to return a formatted address when an address cannot be validated.
          type: string
        OutputPostalCodeSeparator:
          default: Y
          description: Specifies whether to use separators (spaces or hyphens) in ZIP" Codes or Canadian postal codes.
          type: string
        OutputCountryFormat:
          default: E
          description: Specifies the format to use for the country name returned in the Country output field.
          type: string
        KeepMultimatch:
          default: N
          description: Indicates whether to return multiple address for input addresses that have more than one possible matches.
          type: string
        OutputCasing:
          default: M
          description: Specifies the casing of the output address. M for mixed case and U for upper case.
          type: string
        MaximumResults:
          default: '10'
          description: Specifies a number between 1 and 10 that indicates the maximum number of addresses to be returned.
          type: string
        OutputRecordType:
          default: A
          description: Specifies the type of the output record.
          type: string
        OutputFieldLevelReturnCodes:
          default: N
          description: Identifies which output addresses are candidate addresses as value if Y for OutputFieldLevelReturnCodes.
          type: string
        DPVDetermineNoStat:
          default: N
          description: Determines the no stat status of an address which means it exists but cannot receive mails.
          type: string
        StreetMatchingStrictness:
          default: M
          description: Specifies the algorithm to determe if an input address matches in the postal database.
          type: string
        CanFrenchApartmentLabel:
          default: Appartement
          description: 'Specifies the default apartment label for the output if there is no apartment label in the input address. This is specific to French address. '
          type: string
        OutputAbbreviatedAlias:
          default: N
          description: Specifies whether to use a street's abbreviated alias in the output if the output address line is longer than 31 characters.
          type: string
        DPVSuccessfulStatusCondition:
          default: A
          description: Selecting the match condition where a DPV result does NOT cause a record to fail.
          type: string
        StandardAddressPMBLine:
          default: N
          description: Specifies where Private Mailbox (PMB) information is placed.
          type: string
        FirmMatchingStrictness:
          default: M
          description: Specifies the algorithm to determining if an input address matches in the postal database.
          type: string
        CanRuralRouteFormat:
          default: A
          description: Specifies where to place rural route delivery information.
          type: string
        CanPreferHouseNum:
          default: N
          description: Specifies whether to select a house number of postal code in case of conflict.
          type: string
        OutputPreferredAlias:
          default: N
          description: Specifies whether to use a street's preferred alias in the output.
          type: string
        DirectionalMatchingStrictness:
          default: M
          description: Specifies the algorithm to determine if an input address matches in the postal database.
          type: string
        ExtractFirm:
          default: N
          description: Specifies whether to extract the firm name from AddressLine1 through AddressLine4 and place it in the FirmName output field.
          type: string
        FailOnCMRAMatch:
          default: N
          description: Specifies whether to consider Treat Commercial Mail Receiving Agency (CMRA) matches as failures?
          type: string
        CanNonCivicFormat:
          default: A
          description: 'Specifies whether or not non-civic keywords are abbreviated in the output. '
          type: string
        CanSSLVRFlg:
          default: N
          description: Changes the civic and/or suite information to match the LVR or single-single record.
          type: string
        OutputStreetNameAlias:
          default: Y
          description: Specifies how to handle street name aliases used in the input. This is specific to US.
          type: string
        PerformEWS:
          default: N
          description: Specifies the Early Warning System (EWS) that uses the USPS EWS File to validate addresses that are not in the ZIP + 4 database.
          type: string
        CanOutputCityFormat:
          default: D
          description: Specifies whether to use the long, medium, or short version of the city if the city has a long name.
          type: string
        DualAddressLogic:
          default: N
          description: Specifies how to return a match if multiple non-blank address lines are present or multiple address types are on the same address line. (U.S. addresses only.)
          type: string
        PerformSuiteLink:
          default: N
          description: Specifies whether to perform SuiteLink processing.
          type: string
        CanStandardAddressFormat:
          default: D
          description: Specifies where to place secondary address information in the output address.
          type: string
        OutputPreferredCity:
          default: Z
          description: Specifies whether the preferred last line city name should be stored.
          type: string
        OutputMultinationalCharacters:
          default: N
          description: Specifies whether to return multinational characters, including diacritical marks such as umlauts or accents.
          type: string
        CanDeliveryOfficeFormat:
          default: I
          description: Specifies where to place station information.
          type: string
        PerformLACSLink:
          default: Y
          description: Facilitates the conversion of rural route address converting into street-style address using the LACS.
          type: string
        CanDualAddressLogic:
          default: D
          description: Specifies whether ValidateMailingAddressUSCAN should return a street match or a PO Box/non-civic match when the address contains both civic and non-civic information.
          type: string
        ExtractUrb:
          default: N
          description: 'Specifies whether to extract the urbanization name from AddressLine1 through AddressLine4 and place it in the USUrbanName output field. '
          type: string
        StandardAddressFormat:
          default: C
          description: Specifies where to place secondary address information for U.S. addresses.
          type: string
        CanFrenchFormat:
          default: C
          description: Specifies how to determine the language (English or French) to use to format the address and directional.
          type: string
        DPVDetermineVacancy:
          default: N
          description: Determines if the location has been unoccupied for at least 90 days.
          type: string
        CanEnglishApartmentLabel:
          default: Apt
          description: Specifies the default apartment label to use in the output if there is no apartment label in the input address. rhis is specific to English addresses.
          type: string
        SuppressZplusPhantomCarrierR777:
          default: N
          description: Specifies whether to supress addresses with Carrier Route R777.
          type: string
        CanOutputCityAlias:
          default: N
          description: Specifies whether or not to return the city alias when the alias is in the input address.
          type: string
        OutputShortCityName:
          default: N
          description: Specifies how to format city names that have short city name or non-mailing city name alternatives.
          type: string
      type: object
    GetCityStateProvinceAPIInputRow:
      example:
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        PostalCode: PostalCode
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        PostalCode:
          description: The validated ZIP Code or postal code.
          type: string
      type: object
    GetPostalCodesAPIOptions:
      example:
        OutputVanityCity: N
        OutputCityType: N
      properties:
        OutputCityType:
          default: N
          description: Output CityType.
          type: string
        OutputVanityCity:
          default: N
          description: Output VanityCity.
          type: string
      type: object
    ValidateMailingAddressResponse:
      example:
        Output:
        - Status: Status
          BlockAddress: BlockAddress
          FirmName: FirmName
          StateProvince: StateProvince
          PostalCode: PostalCode
          City: City
          Status.Code: Status.Code
          AdditionalInputData: AdditionalInputData
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          Country: Country
          Status.Description: Status.Description
          PostalCode.AddOn: PostalCode.AddOn
        - Status: Status
          BlockAddress: BlockAddress
          FirmName: FirmName
          StateProvince: StateProvince
          PostalCode: PostalCode
          City: City
          Status.Code: Status.Code
          AdditionalInputData: AdditionalInputData
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          Country: Country
          Status.Description: Status.Description
          PostalCode.AddOn: PostalCode.AddOn
      properties:
        Output:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressOutput'
          type: array
      type: object
    GetCityStateProvinceAPIInput:
      example:
        Row:
        - user_fields:
          - name: name
            value: value
          - name: name
            value: value
          PostalCode: PostalCode
        - user_fields:
          - name: name
            value: value
          - name: name
            value: value
          PostalCode: PostalCode
      properties:
        Row:
          items:
            $ref: '#/components/schemas/GetCityStateProvinceAPIInputRow'
          type: array
      type: object
    ValidateMailingAddressUSCANAPIOutput:
      example:
        PostalBarCode: PostalBarCode
        Country.Input: Country.Input
        CMRA: CMRA
        StreetSuffix: StreetSuffix
        USFIPSCountyNumber: USFIPSCountyNumber
        LeadingDirectional: LeadingDirectional
        USUrbanName.Result: USUrbanName.Result
        FirmName.Input: FirmName.Input
        RRHC: RRHC
        Status: Status
        PostalCode.Result: PostalCode.Result
        Country.Result: Country.Result
        StateProvince: StateProvince
        LeadingDirectional.Input: LeadingDirectional.Input
        PostalCode.Type: PostalCode.Type
        AddressLine3: AddressLine3
        StateProvince.Result: StateProvince.Result
        AddressBlock5: AddressBlock5
        AddressLine2: AddressLine2
        AddressBlock6: AddressBlock6
        AddressLine1: AddressLine1
        AddressBlock7: AddressBlock7
        USUrbanName.Input: USUrbanName.Input
        AddressBlock8: AddressBlock8
        AddressBlock1: AddressBlock1
        AddressBlock2: AddressBlock2
        AddressBlock3: AddressBlock3
        AddressLine4: AddressLine4
        HouseNumber.Input: HouseNumber.Input
        AddressBlock4: AddressBlock4
        Country: Country
        HouseNumber.Result: HouseNumber.Result
        LeadingDirectional.Result: LeadingDirectional.Result
        PostalCode.AddOn: PostalCode.AddOn
        StreetSuffix.Result: StreetSuffix.Result
        TrailingDirectional.Input: TrailingDirectional.Input
        USAltAddr: USAltAddr
        FirmName.Result: FirmName.Result
        HouseNumber: HouseNumber
        BlockAddress: BlockAddress
        ApartmentLabel: ApartmentLabel
        ApartmentLabel.Input: ApartmentLabel.Input
        USCongressionalDistrict: USCongressionalDistrict
        DPV: DPV
        AddressBlock9: AddressBlock9
        POBox.Result: POBox.Result
        PostalCodeCity.Result: PostalCodeCity.Result
        ApartmentNumber.Result: ApartmentNumber.Result
        PrivateMailbox.Type: PrivateMailbox.Type
        RRHC.Result: RRHC.Result
        RDI: RDI
        USCarrierRouteCode: USCarrierRouteCode
        ApartmentNumber.Input: ApartmentNumber.Input
        City.Input: City.Input
        PostalCode.Input: PostalCode.Input
        USFinanceNumber: USFinanceNumber
        SuiteLinkFidelity: SuiteLinkFidelity
        USLastLineNumber: USLastLineNumber
        USUrbanName: USUrbanName
        Status.description: Status.description
        StreetNameAbbreviatedAlias.Result: StreetNameAbbreviatedAlias.Result
        USLACS.ReturnCode: USLACS.ReturnCode
        City.Result: City.Result
        StreetName: StreetName
        USLACS: USLACS
        POBox.Input: POBox.Input
        RRHC.Input: RRHC.Input
        TrailingDirectional: TrailingDirectional
        Street.Result: Street.Result
        PrivateMailbox: PrivateMailbox
        PrivateMailbox.Input: PrivateMailbox.Input
        DPVVacant: DPVVacant
        PostalCode.Base: PostalCode.Base
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        Confidence: Confidence
        StreetName.Input: StreetName.Input
        StateProvince.Input: StateProvince.Input
        MatchScore: MatchScore
        FirmName: FirmName
        ApartmentLabel.Result: ApartmentLabel.Result
        StreetName.Alias.Type: StreetName.Alias.Type
        CountryLevel: CountryLevel
        City: City
        CouldNotValidate: CouldNotValidate
        MultimatchCount: MultimatchCount
        USCountyName: USCountyName
        TrailingDirectional.Result: TrailingDirectional.Result
        POBox: POBox
        StreetName.Result: StreetName.Result
        PostalCode: PostalCode
        ApartmentNumber: ApartmentNumber
        AdditionalInputData: AdditionalInputData
        PrivateMailbox.Type.Input: PrivateMailbox.Type.Input
        RecordType: RecordType
        StreetNamePreferredAlias.Result: StreetNamePreferredAlias.Result
        AddressRecord.Result: AddressRecord.Result
        DPVFootnote: DPVFootnote
        StreetSuffix.Input: StreetSuffix.Input
        DPVNoStat: DPVNoStat
        AddressFormat: AddressFormat
        PostalCode.Source: PostalCode.Source
        Status.Code: Status.Code
        CanLanguage: CanLanguage
        SuiteLinkMatchCode: SuiteLinkMatchCode
        SuiteLinkReturnCode: SuiteLinkReturnCode
        USBCCheckDigit: USBCCheckDigit
        RRHC.Type: RRHC.Type
        RecordType.Default: RecordType.Default
        MultipleMatches: MultipleMatches
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        Status:
          description: Reports the success or failure of the match attempt.
          type: string
        Status.Code:
          description: Reason for failure, if there is one.
          type: string
        Status.description:
          description: Specifies the description of the problem, if there is one.
          type: string
        AddressLine1:
          description: Specifies the first line of the validated and standardized address.
          type: string
        AddressLine2:
          description: Specifies the second line of the validated and standardized address.
          type: string
        City:
          description: Specifies the validated city name.
          type: string
        StateProvince:
          description: Specifies the validated state or province abbreviation.
          type: string
        PostalCode:
          description: Specifies the validated ZIP Code or postal code.
          type: string
        Country:
          description: Specifies the country in the format determined by the selection from ISO or UPO or English.
          type: string
        FirmName:
          description: Specifies the validated firm or company name.
          type: string
        BlockAddress:
          description: 'Specifies the formatted address, as it would appear on a physical mail piece. '
          type: string
        PostalCode.Base:
          description: Specifies the 5-digit ZIP Code.
          type: string
        PostalCode.AddOn:
          description: Specifies the 4-digit add-on part of the ZIP Code.
          type: string
        AdditionalInputData:
          description: Specifies input data not used by the address validation process.
          type: string
        CouldNotValidate:
          description: 'Specifies the address component that could not be validated, in case no match is found. '
          type: string
        AddressFormat:
          description: Specifies the type of address data being returned.
          type: string
        AddressLine3:
          description: Specifies the third line of the validated and standardized address. If the address could not be validated, the third line of the input address without any changes.
          type: string
        AddressLine4:
          description: Specifies the fourth line of the validated and standardized address. If the address could not be validated, the fourth line of the input address without any changes.
          type: string
        AddressRecord.Result:
          description: Specifies the result codes that apply to international addresses only.
          type: string
        ApartmentLabel:
          description: Specifies the apartment designator such as STE or APT.
          type: string
        ApartmentLabel.Input:
          description: Specifies the apartment designator such as STE or APT.
          type: string
        ApartmentLabel.Result:
          description: Specifies the result of apartment label.
          type: string
        ApartmentNumber:
          description: Specifies the apartment number.
          type: string
        ApartmentNumber.Input:
          description: Specifies the apartment number.
          type: string
        ApartmentNumber.Result:
          description: Specifies the result of apartment number.
          type: string
        City.Input:
          description: Specifies the validated city name.
          type: string
        City.Result:
          description: Specifies the result of the validated city name.
          type: string
        Confidence:
          description: Specifies the the level of confidence assigned to the address being returned.
          type: string
        Country.Input:
          description: Specifies the name of the country.
          type: string
        Country.Result:
          description: Specifies the result code for the country.
          type: string
        CountryLevel:
          description: Specifies the category of address matching available.
          type: string
        FirmName.Input:
          description: Specifies the validated firm or company name.
          type: string
        FirmName.Result:
          description: Specifies if the firm name got validated.
          type: string
        HouseNumber:
          description: Specifies the house number.
          type: string
        HouseNumber.Input:
          description: Specifies the house number.
          type: string
        HouseNumber.Result:
          description: Specifies the result for house number.
          type: string
        LeadingDirectional:
          description: Specifies the leading directional.
          type: string
        LeadingDirectional.Input:
          description: Specifies the leading directional.
          type: string
        LeadingDirectional.Result:
          description: Specifies the result of leading directional.
          type: string
        MultipleMatches:
          description: 'Specifies the address component with multiple matches, if multiple matches were found: '
          type: string
        POBox:
          description: Specifies the post office box number.
          type: string
        POBox.Input:
          description: Specifies the post office box number.
          type: string
        POBox.Result:
          description: Specifies the result of post office box number.
          type: string
        PostalCode.Input:
          description: Specifies the validated postal code. For U.S. addresses, this is the ZIP code.
          type: string
        PostalCode.Result:
          description: Specifies the result of validated postal code.
          type: string
        PostalCode.Source:
          description: Specifies the result code.
          type: string
        PostalCode.Type:
          description: Specifies the type of postal code returned.
          type: string
        PostalCodeCity.Result:
          description: Specifies the international result code.
          type: string
        PrivateMailbox:
          description: Specifies the private mailbox indicator.
          type: string
        PrivateMailbox.Input:
          description: Specifies the private mailbox indicator.
          type: string
        PrivateMailbox.Type:
          description: Specifies the type of private mailbox.
          type: string
        PrivateMailbox.Type.Input:
          description: Specifies the type of private mailbox.
          type: string
        RecordType:
          description: Specifies the type of address record, as defined by U.S. and Canadian postal authorities.
          type: string
        RecordType.Default:
          description: Specifies the code indicating the default match.
          type: string
        RRHC:
          description: Specifies the Rural Route/Highway Contract indicator.
          type: string
        RRHC.Input:
          description: Specifies the Rural Route/Highway Contract indicator.
          type: string
        RRHC.Result:
          description: Specifies the result for Rural Route/Highway Contract indicator.
          type: string
        RRHC.Type:
          description: Specifies the result code for Rural Route/Highway Contract indicator.
          type: string
        StateProvince.Input:
          description: Specifies the validated state or province abbreviation.
          type: string
        StateProvince.Result:
          description: Specifies the result of validated state or province abbreviation.
          type: string
        Street.Result:
          description: Specifies the result codes for international addresses.
          type: string
        StreetName:
          description: Specifies the street name.
          type: string
        StreetName.Alias.Type:
          description: Specifies result code that applies to U.S. addresses only.
          type: string
        StreetName.Input:
          description: Specifies the street name.
          type: string
        StreetName.Result:
          description: Specifies the result of the street name.
          type: string
        StreetNameAbbreviatedAlias.Result:
          description: Indicates the result of abbreviated alias processing.
          type: string
        StreetNamePreferredAlias.Result:
          description: Specifies the result of preferred alias processing.
          type: string
        StreetSuffix:
          description: Specifies the street suffix.
          type: string
        StreetSuffix.Input:
          description: Specifies the street suffix.
          type: string
        StreetSuffix.Result:
          description: Specifies the result of the street suffix.
          type: string
        TrailingDirectional:
          description: Specifies the trailing directional.
          type: string
        TrailingDirectional.Input:
          description: Specifies the trailing directional.
          type: string
        TrailingDirectional.Result:
          description: Specifies the result of the trailing directional.
          type: string
        MatchScore:
          description: Specifies an indication of the degree to which the output address is correct.
          type: string
        USLACS:
          description: Specifies whether the address is a candidate for LACS conversion. This is for U.S. addresses only).
          type: string
        USLACS.ReturnCode:
          description: Specifies the the success or failure of LACS processing. This is for U.S. addresses only).
          type: string
        RDI:
          description: Specifies the values indicating address type.
          type: string
        CMRA:
          description: Specifies if the address is a Commercial Mail Receiving Agency (CMRA).
          type: string
        DPV:
          description: Specifies the results of Delivery Point Validation (DPV) processing.
          type: string
        DPVFootnote:
          description: Specifies the DPV footnote codes.
          type: string
        SuiteLinkReturnCode:
          description: 'Indicates whether or not API corrected the secondary address information (U.S. addresses only). '
          type: string
        SuiteLinkMatchCode:
          description: Provides additional information on the SuiteLink match attempt. (U.S. addresses only)
          type: string
        SuiteLinkFidelity:
          description: Indicates how well ValidateAddress matched the firm name to the firm names in the SuiteLink database.
          type: string
        USBCCheckDigit:
          description: Specifies the check-digit portion of the 11-digit delivery point barcode.
          type: string
        PostalBarCode:
          description: Specifies the delivery point portion of the delivery point barcode.
          type: string
        USCarrierRouteCode:
          description: Specifies carrier route code.
          type: string
        USFIPSCountyNumber:
          description: Specifies FIPS (Federal Information Processing Standards) county number (U.S. addresses only).
          type: string
        USCountyName:
          description: Specifies the county name (U.S. addresses only).
          type: string
        USCongressionalDistrict:
          description: Specifies congressional district (U.S. addresses only).
          type: string
        USAltAddr:
          description: Specifies whether the alternate address matching logic was used, and if so which logic was used (U.S. addresses only).
          type: string
        USLastLineNumber:
          description: Specifies a six-character alphanumeric value that groups together ZIP Codes that share the same primary city.
          type: string
        USFinanceNumber:
          description: Specifies the finance number in which the address resides (U.S. addresses only).
          type: string
        USUrbanName:
          description: U.S. address urbanization name. Used primarily for Puerto Rico addresses.
          type: string
        USUrbanName.Input:
          description: U.S. address urbanization name. Used primarily for Puerto Rico addresses.
          type: string
        USUrbanName.Result:
          description: U.S. address urbanization name. Used primarily for Puerto Rico addresses.
          type: string
        MultimatchCount:
          description: If the address was matched to multiple candidate addresses in the reference data, this field contains the number of candidate matches found.
          type: string
        AddressBlock1:
          description: AddressBlock1
          type: string
        AddressBlock2:
          description: AddressBlock2
          type: string
        AddressBlock3:
          description: AddressBlock3
          type: string
        AddressBlock4:
          description: AddressBlock4
          type: string
        AddressBlock5:
          description: AddressBlock5
          type: string
        AddressBlock6:
          description: AddressBlock6
          type: string
        AddressBlock7:
          description: AddressBlock7
          type: string
        AddressBlock8:
          description: AddressBlock8
          type: string
        AddressBlock9:
          description: AddressBlock9
          type: string
        CanLanguage:
          description: Specifies whether the address is in English or French. This is for Canadian address only.
          type: string
        DPVNoStat:
          description: Specifies whether the building is a no stat building and therefore unable to receive mail.
          type: string
        DPVVacant:
          description: Specifies whether the building is vacant, unoccupied for 90 days.
          type: string
      type: object
    GetCityStateProvinceAPIRequest:
      example:
        Input:
          Row:
          - user_fields:
            - name: name
              value: value
            - name: name
              value: value
            PostalCode: PostalCode
          - user_fields:
            - name: name
              value: value
            - name: name
              value: value
            PostalCode: PostalCode
        options:
          OutputVanityCity: N
          PerformCanadianProcessing: Y
          MaximumResults: '10'
          PerformUSProcessing: Y
      properties:
        options:
          $ref: '#/components/schemas/GetCityStateProvinceAPIOptions'
        Input:
          $ref: '#/components/schemas/GetCityStateProvinceAPIInput'
      type: object
    ErrorInfo:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
          xml:
            name: error
      type: object
      xml:
        name: errors
    ValidateMailingAddressPremiumOptions:
      example:
        OutputRecordType: A
        OutputCasing: M
        OutputAddressBlocks: Y
        OutputCountryFormat: E
        OutputFieldLevelReturnCodes: N
        OutputScript: InputScript
        KeepMultimatch: N
        MaximumResults: '10'
      properties:
        OutputAddressBlocks:
          default: Y
          description: Specifies whether to return a formatted version of the address as it would be printed on a physical mail piece.
          type: string
        KeepMultimatch:
          default: N
          description: Specifies whether to return multiple address for those input addresses that have more than one possible match.
          type: string
        OutputCountryFormat:
          default: E
          description: Specifies the format to use for the country name returned in the Country output field.
          type: string
        OutputRecordType:
          default: A
          description: Specifies the type of output record you get.
          type: string
        OutputFieldLevelReturnCodes:
          default: N
          description: Specifies whether to include field-level result indicators.
          type: string
        OutputScript:
          default: InputScript
          description: Specifies the alphabet or script in which the output should be returned.
          type: string
        OutputCasing:
          default: M
          description: Specify the casing of the output data.
          type: string
        MaximumResults:
          default: '10'
          description: A number between 1 and 10 that indicates the maximum number of addresses to return.
          type: string
      type: object
    ValidateMailingAddressUSCANAPIInputRow:
      example:
        AddressLine3: AddressLine3
        AddressLine2: AddressLine2
        AddressLine1: AddressLine1
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        FirmName: FirmName
        StateProvince: StateProvince
        USUrbanName: USUrbanName
        AddressLine4: AddressLine4
        Country: Country
        PostalCode: PostalCode
        City: City
        CanLanguage: CanLanguage
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        AddressLine1:
          description: The first address line.
          type: string
        AddressLine2:
          description: The second address line.
          type: string
        AddressLine3:
          description: The third address line.
          type: string
        AddressLine4:
          description: The fourth address line.
          type: string
        FirmName:
          description: The company or firm name.
          type: string
        City:
          description: The city name.
          type: string
        StateProvince:
          description: The state or province.
          type: string
        Country:
          description: The country code or name.
          type: string
        PostalCode:
          description: The postal code for the address.
          type: string
        USUrbanName:
          description: U.S. address urbanization name. Used primarily for Puerto Rico addresses.
          type: string
        CanLanguage:
          description: Canadian language.
          type: string
      type: object
    ValidateMailingAddressPremiumOutput:
      example:
        StreetName: StreetName
        ApartmentLabel2.Result: ApartmentLabel2.Result
        POBox.Input: POBox.Input
        Suburb: Suburb
        Country.Input: Country.Input
        RRHC.Input: RRHC.Input
        TrailingDirectional: TrailingDirectional
        Latitude: Latitude
        Street.Result: Street.Result
        PrivateMailbox: PrivateMailbox
        PrivateMailbox.Input: PrivateMailbox.Input
        StreetSuffix: StreetSuffix
        PostalCode.Base: PostalCode.Base
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        Confidence: Confidence
        StreetName.Input: StreetName.Input
        LeadingDirectional: LeadingDirectional
        FirmName.Input: FirmName.Input
        RRHC: RRHC
        Status: Status
        PostalCode.Result: PostalCode.Result
        StateProvince.Input: StateProvince.Input
        FirmName: FirmName
        Country.Result: Country.Result
        StreetName.Alias.Type: StreetName.Alias.Type
        ApartmentLabel.Result: ApartmentLabel.Result
        Locality: Locality
        StateProvince: StateProvince
        LeadingDirectional.Input: LeadingDirectional.Input
        CountryLevel: CountryLevel
        AddressQuality: AddressQuality
        City: City
        CouldNotValidate: CouldNotValidate
        Longitude: Longitude
        PostalCode.Type: PostalCode.Type
        AddressLine3: AddressLine3
        StateProvince.Result: StateProvince.Result
        AddressLine2: AddressLine2
        AddressLine1: AddressLine1
        TrailingDirectional.Result: TrailingDirectional.Result
        AddressLine5: AddressLine5
        AddressLine4: AddressLine4
        HouseNumber.Input: HouseNumber.Input
        Country: Country
        HouseNumber.Result: HouseNumber.Result
        ChangeScore: ChangeScore
        Status.Description: Status.Description
        ApartmentNumber2: ApartmentNumber2
        LeadingDirectional.Result: LeadingDirectional.Result
        PostalCode.AddOn: PostalCode.AddOn
        POBox: POBox
        TrailingDirectional.Input: TrailingDirectional.Input
        StreetSuffix.Result: StreetSuffix.Result
        ApartmentNumber2.Result: ApartmentNumber2.Result
        HouseNumber: HouseNumber
        StreetName.Result: StreetName.Result
        FirmName.Result: FirmName.Result
        BlockAddress: BlockAddress
        ApartmentLabel: ApartmentLabel
        ApartmentLabel.Input: ApartmentLabel.Input
        PostalCode: PostalCode
        ApartmentNumber: ApartmentNumber
        AdditionalInputData: AdditionalInputData
        POBox.Result: POBox.Result
        PrivateMailbox.Type.Input: PrivateMailbox.Type.Input
        PostalCodeCity.Result: PostalCodeCity.Result
        RecordType: RecordType
        PrivateMailbox.Type: PrivateMailbox.Type
        ApartmentNumber.Result: ApartmentNumber.Result
        RRHC.Result: RRHC.Result
        StreetNamePreferredAlias.Result: StreetNamePreferredAlias.Result
        ApartmentNumber.Input: ApartmentNumber.Input
        AddressRecord.Result: AddressRecord.Result
        City.Input: City.Input
        ApartmentLabel2: ApartmentLabel2
        StreetSuffix.Input: StreetSuffix.Input
        PostalCode.Input: PostalCode.Input
        AddressFormat: AddressFormat
        PostalCode.Source: PostalCode.Source
        Status.Code: Status.Code
        Deliverability: Deliverability
        StreetNameAbbreviatedAlias.Result: StreetNameAbbreviatedAlias.Result
        RRHC.Type: RRHC.Type
        City.Result: City.Result
        AddressType: AddressType
        RecordType.Default: RecordType.Default
        MultipleMatches: MultipleMatches
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        Status:
          description: Reports the success or failure of the match attempt.
          type: string
        Status.Code:
          description: Reason for failure, if there is one.
          type: string
        Status.Description:
          description: Description of the problem, if there is one.
          type: string
        Confidence:
          description: The level of confidence assigned to the address being returned.
          type: string
        RecordType:
          description: Type of address record.
          type: string
        RecordType.Default:
          description: Code indicating the default match.
          type: string
        MultipleMatches:
          description: Indicates which address component had multiple matches.
          type: string
        CouldNotValidate:
          description: Mentions the address component that could not be validated, in case no match is found.
          type: string
        CountryLevel:
          description: The category of address matching available.
          type: string
        AddressFormat:
          description: The type of address data being returned.
          type: string
        AddressLine1:
          description: The first line of the validated address.
          type: string
        AddressLine2:
          description: The second line of the validated address.
          type: string
        AddressLine3:
          description: The third line of the validated address.
          type: string
        AddressLine4:
          description: The fourth line of the validated address.
          type: string
        City:
          description: The validated city name.
          type: string
        StateProvince:
          description: The validated state or province abbreviation.
          type: string
        PostalCode:
          description: The validated ZIP Code or postal code.
          type: string
        PostalCode.Base:
          description: The 5-digit ZIP Code.
          type: string
        PostalCode.AddOn:
          description: The 4-digit add-on part of the ZIP Code.
          type: string
        Country:
          description: The country in the format determined by what you selected.
          type: string
        AdditionalInputData:
          description: Input data that could not be matched to a particular address component.
          type: string
        FirmName:
          description: The validated firm or company name.
          type: string
        HouseNumber:
          description: House number.
          type: string
        LeadingDirectional:
          description: Leading directional.
          type: string
        StreetName:
          description: Street name.
          type: string
        StreetSuffix:
          description: Street suffix.
          type: string
        TrailingDirectional:
          description: Trailing directional.
          type: string
        ApartmentLabel:
          description: Apartment designator (such as STE or APT).
          type: string
        ApartmentNumber:
          description: Apartment number.
          type: string
        ApartmentLabel2:
          description: Secondary apartment designator.
          type: string
        ApartmentNumber2:
          description: Secondary apartment number.
          type: string
        RRHC:
          description: Rural Route/Highway Contract indicator.
          type: string
        POBox:
          description: Post office box number.
          type: string
        PrivateMailbox:
          description: Private mailbox indicator.
          type: string
        PrivateMailbox.Type:
          description: The type of private mailbox.
          type: string
        HouseNumber.Input:
          description: House number.
          type: string
        LeadingDirectional.Input:
          description: Leading directional.
          type: string
        StreetName.Input:
          description: Street name.
          type: string
        StreetSuffix.Input:
          description: Street suffix.
          type: string
        TrailingDirectional.Input:
          description: Trailing directional.
          type: string
        ApartmentLabel.Input:
          description: Apartment designator (such as STE or APT).
          type: string
        ApartmentNumber.Input:
          description: Apartment number.
          type: string
        RRHC.Input:
          description: Rural Route/Highway Contract indicator.
          type: string
        POBox.Input:
          description: Post office box number.
          type: string
        PrivateMailbox.Input:
          description: Private mailbox indicator.
          type: string
        PrivateMailbox.Type.Input:
          description: The type of private mailbox.
          type: string
        City.Input:
          description: Validated city name.
          type: string
        StateProvince.Input:
          description: Validated state or province name.
          type: string
        PostalCode.Input:
          description: Validated postal code.
          type: string
        Country.Input:
          description: Country. Format is determined by what you selected in OutputCountryFormat.
          type: string
        FirmName.Input:
          description: The validated firm or company name.
          type: string
        HouseNumber.Result:
          description: The field-level result indicator for HouseNumber.
          type: string
        LeadingDirectional.Result:
          description: The field-level result indicator for LeadingDirectional.
          type: string
        Street.Result:
          description: The field-level result indicator for Street.
          type: string
        StreetName.Result:
          description: The field-level result indicator for StreetName.
          type: string
        StreetName.Alias.Type:
          description: The field-level result indicator for StreetName Alias.
          type: string
        StreetSuffix.Result:
          description: The field-level result indicator for StreetSuffix.
          type: string
        TrailingDirectional.Result:
          description: The field-level result indicator for TrailingDirectional.
          type: string
        ApartmentLabel.Result:
          description: The field-level result indicator for ApartmentLabel.
          type: string
        ApartmentNumber.Result:
          description: The field-level result indicator for ApartmentNumber.
          type: string
        ApartmentLabel2.Result:
          description: The field-level result indicator for ApartmentLabel2.
          type: string
        ApartmentNumber2.Result:
          description: The field-level result indicator for ApartmentNumber2.
          type: string
        RRHC.Result:
          description: The field-level result indicator for RRHC.
          type: string
        RRHC.Type:
          description: The field-level result indicator for RRHC Type.
          type: string
        POBox.Result:
          description: The field-level result indicator for POBox.
          type: string
        City.Result:
          description: The field-level result indicator for City.
          type: string
        StateProvince.Result:
          description: The field-level result indicator for StateProvince.
          type: string
        PostalCode.Result:
          description: The field-level result indicator for PostalCode.
          type: string
        PostalCodeCity.Result:
          description: The field-level result indicator for PostalCodeCity.
          type: string
        AddressRecord.Result:
          description: The field-level result indicator for AddressRecord.
          type: string
        PostalCode.Source:
          description: The field-level result indicator for PostalCode Source.
          type: string
        PostalCode.Type:
          description: Indicates the type of postal code returned.
          type: string
        Country.Result:
          description: The validated firm or company name.
          type: string
        FirmName.Result:
          description: Indicates if the firm name got validated.
          type: string
        StreetNamePreferredAlias.Result:
          description: Indicates the result of preferred alias processing.
          type: string
        StreetNameAbbreviatedAlias.Result:
          description: Indicates the result of abbreviated alias processing.
          type: string
        AddressLine5:
          description: The fifth line of the validated address.
          type: string
        AddressQuality:
          description: A two character code indicating overall quality of the resulting address.
          type: string
        Deliverability:
          description: An estimate of confidence that an item mailed or shipped to this address would be successfully delivered.
          type: string
        AddressType:
          description: A single letter code that indicates the type of address.
          type: string
        Locality:
          description: A locality is a village in rural areas or it may be a suburb in urban areas.
          type: string
        ChangeScore:
          description: A value of 0 and 100 that reflects how much the address has changed to make it valid.
          type: string
        Suburb:
          description: The validated firm or company name.
          type: string
        BlockAddress:
          description: It is the formatted address, as it would appear on a physical mail piece.
          type: string
        Latitude:
          description: Seven-digit number in degrees, calculated to four decimal places.
          type: string
        Longitude:
          description: Seven-digit number in degrees, calculated to four decimal places.
          type: string
      type: object
    GetPostalCodesAPIInputRow:
      example:
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        StateProvince: StateProvince
        City: City
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        City:
          description: The city name.
          type: string
        StateProvince:
          description: The state or province.
          type: string
      type: object
    ValidateMailingAddressPremiumInputRow:
      example:
        AddressLine3: AddressLine3
        AddressLine2: AddressLine2
        AddressLine1: AddressLine1
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        FirmName: FirmName
        AddressLine5: AddressLine5
        StateProvince: StateProvince
        AddressLine4: AddressLine4
        Country: Country
        PostalCode: PostalCode
        City: City
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        AddressLine1:
          description: The first address line.
          type: string
        AddressLine2:
          description: The second address line.
          type: string
        AddressLine3:
          description: The third address line.
          type: string
        AddressLine4:
          description: The fourth address line.
          type: string
        AddressLine5:
          description: The fifth address line.
          type: string
        FirmName:
          description: The company or firm name.
          type: string
        City:
          description: The city name.
          type: string
        StateProvince:
          description: The state or province.
          type: string
        Country:
          description: The country code or name.
          type: string
        PostalCode:
          description: The postal code for the address.
          type: string
      type: object
    ValidateMailingAddressProInputRow:
      example:
        AddressLine2: AddressLine2
        AddressLine1: AddressLine1
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        FirmName: FirmName
        StateProvince: StateProvince
        Country: Country
        PostalCode: PostalCode
        City: City
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        AddressLine1:
          description: The first address line.
          type: string
        AddressLine2:
          description: The second address line.
          type: string
        FirmName:
          description: The company or firm name.
          type: string
        City:
          description: The city name.
          type: string
        StateProvince:
          description: The state or province.
          type: string
        Country:
          description: The country code or name.
          type: string
        PostalCode:
          description: The postal code for the address.
          type: string
      type: object
    GetPostalCodesAPIResponse:
      example:
        Output:
        - Status: Status
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          PostalCode: PostalCode
          Status.Description: Status.Description
          Status.Code: Status.Code
          City.Type: City.Type
        - Status: Status
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          PostalCode: PostalCode
          Status.Description: Status.Description
          Status.Code: Status.Code
          City.Type: City.Type
      properties:
        Output:
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput'
          type: array
      type: object
    GetCityStateProvinceAPIOptions:
      example:
        OutputVanityCity: N
        PerformCanadianProcessing: Y
        MaximumResults: '10'
        PerformUSProcessing: Y
      properties:
        OutputVanityCity:
          default: N
          description: Output VanityCity.
          type: string
        PerformCanadianProcessing:
          default: Y
          description: PerformCanadianProcessing.
          type: string
        MaximumResults:
          default: '10'
          description: MaximumResults.
          type: string
        PerformUSProcessing:
          default: Y
          description: PerformUSProcessing.
          type: string
      type: object
    GetCityStateProvinceAPIOutput:
      example:
        Status: Status
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        StateProvince: StateProvince
        PostalCode: PostalCode
        Status.Description: Status.Description
        City: City
        Status.Code: Status.Code
        City.Type: City.Type
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        PostalCode:
          description: The validated ZIP Code or postal code.
          type: string
        City:
          description: City
          type: string
        City.Type:
          description: City.Type
          type: string
        StateProvince:
          description: The state or province.
          type: string
        Status:
          description: Reports the success or failure of the match attempt.
          type: string
        Status.Code:
          description: Reason for failure, if there is one.
          type: string
        Status.Description:
          description: Description of the problem, if there is one.
          type: string
      type: object
    ValidateMailingAddressUSCANAPIResponse:
      example:
        Output:
        - PostalBarCode: PostalBarCode
          Country.Input: Country.Input
          CMRA: CMRA
          StreetSuffix: StreetSuffix
          USFIPSCountyNumber: USFIPSCountyNumber
          LeadingDirectional: LeadingDirectional
          USUrbanName.Result: USUrbanName.Result
          FirmName.Input: FirmName.Input
          RRHC: RRHC
          Status: Status
          PostalCode.Result: PostalCode.Result
          Country.Result: Country.Result
          StateProvince: StateProvince
          LeadingDirectional.Input: LeadingDirectional.Input
          PostalCode.Type: PostalCode.Type
          AddressLine3: AddressLine3
          StateProvince.Result: StateProvince.Result
          AddressBlock5: AddressBlock5
          AddressLine2: AddressLine2
          AddressBlock6: AddressBlock6
          AddressLine1: AddressLine1
          AddressBlock7: AddressBlock7
          USUrbanName.Input: USUrbanName.Input
          AddressBlock8: AddressBlock8
          AddressBlock1: AddressBlock1
          AddressBlock2: AddressBlock2
          AddressBlock3: AddressBlock3
          AddressLine4: AddressLine4
          HouseNumber.Input: HouseNumber.Input
          AddressBlock4: AddressBlock4
          Country: Country
          HouseNumber.Result: HouseNumber.Result
          LeadingDirectional.Result: LeadingDirectional.Result
          PostalCode.AddOn: PostalCode.AddOn
          StreetSuffix.Result: StreetSuffix.Result
          TrailingDirectional.Input: TrailingDirectional.Input
          USAltAddr: USAltAddr
          FirmName.Result: FirmName.Result
          HouseNumber: HouseNumber
          BlockAddress: BlockAddress
          ApartmentLabel: ApartmentLabel
          ApartmentLabel.Input: ApartmentLabel.Input
          USCongressionalDistrict: USCongressionalDistrict
          DPV: DPV
          AddressBlock9: AddressBlock9
          POBox.Result: POBox.Result
          PostalCodeCity.Result: PostalCodeCity.Result
          ApartmentNumber.Result: ApartmentNumber.Result
          PrivateMailbox.Type: PrivateMailbox.Type
          RRHC.Result: RRHC.Result
          RDI: RDI
          USCarrierRouteCode: USCarrierRouteCode
          ApartmentNumber.Input: ApartmentNumber.Input
          City.Input: City.Input
          PostalCode.Input: PostalCode.Input
          USFinanceNumber: USFinanceNumber
          SuiteLinkFidelity: SuiteLinkFidelity
          USLastLineNumber: USLastLineNumber
          USUrbanName: USUrbanName
          Status.description: Status.description
          StreetNameAbbreviatedAlias.Result: StreetNameAbbreviatedAlias.Result
          USLACS.ReturnCode: USLACS.ReturnCode
          City.Result: City.Result
          StreetName: StreetName
          USLACS: USLACS
          POBox.Input: POBox.Input
          RRHC.Input: RRHC.Input
          TrailingDirectional: TrailingDirectional
          Street.Result: Street.Result
          PrivateMailbox: PrivateMailbox
          PrivateMailbox.Input: PrivateMailbox.Input
          DPVVacant: DPVVacant
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          Confidence: Confidence
          StreetName.Input: StreetName.Input
          StateProvince.Input: StateProvince.Input
          MatchScore: MatchScore
          FirmName: FirmName
          ApartmentLabel.Result: ApartmentLabel.Result
          StreetName.Alias.Type: StreetName.Alias.Type
          CountryLevel: CountryLevel
          City: City
          CouldNotValidate: CouldNotValidate
          MultimatchCount: MultimatchCount
          USCountyName: USCountyName
          TrailingDirectional.Result: TrailingDirectional.Result
          POBox: POBox
          StreetName.Result: StreetName.Result
          PostalCode: PostalCode
          ApartmentNumber: ApartmentNumber
          AdditionalInputData: AdditionalInputData
          PrivateMailbox.Type.Input: PrivateMailbox.Type.Input
          RecordType: RecordType
          StreetNamePreferredAlias.Result: StreetNamePreferredAlias.Result
          AddressRecord.Result: AddressRecord.Result
          DPVFootnote: DPVFootnote
          StreetSuffix.Input: StreetSuffix.Input
          DPVNoStat: DPVNoStat
          AddressFormat: AddressFormat
          PostalCode.Source: PostalCode.Source
          Status.Code: Status.Code
          CanLanguage: CanLanguage
          SuiteLinkMatchCode: SuiteLinkMatchCode
          SuiteLinkReturnCode: SuiteLinkReturnCode
          USBCCheckDigit: USBCCheckDigit
          RRHC.Type: RRHC.Type
          RecordType.Default: RecordType.Default
          MultipleMatches: MultipleMatches
        - PostalBarCode: PostalBarCode
          Country.Input: Country.Input
          CMRA: CMRA
          StreetSuffix: StreetSuffix
          USFIPSCountyNumber: USFIPSCountyNumber
          LeadingDirectional: LeadingDirectional
          USUrbanName.Result: USUrbanName.Result
          FirmName.Input: FirmName.Input
          RRHC: RRHC
          Status: Status
          PostalCode.Result: PostalCode.Result
          Country.Result: Country.Result
          StateProvince: StateProvince
          LeadingDirectional.Input: LeadingDirectional.Input
          PostalCode.Type: PostalCode.Type
          AddressLine3: AddressLine3
          StateProvince.Result: StateProvince.Result
          AddressBlock5: AddressBlock5
          AddressLine2: AddressLine2
          AddressBlock6: AddressBlock6
          AddressLine1: AddressLine1
          AddressBlock7: AddressBlock7
          USUrbanName.Input: USUrbanName.Input
          AddressBlock8: AddressBlock8
          AddressBlock1: AddressBlock1
          AddressBlock2: AddressBlock2
          AddressBlock3: AddressBlock3
          AddressLine4: AddressLine4
          HouseNumber.Input: HouseNumber.Input
          AddressBlock4: AddressBlock4
          Country: Country
          HouseNumber.Result: HouseNumber.Result
          LeadingDirectional.Result: LeadingDirectional.Result
          PostalCode.AddOn: PostalCode.AddOn
          StreetSuffix.Result: StreetSuffix.Result
          TrailingDirectional.Input: TrailingDirectional.Input
          USAltAddr: USAltAddr
          FirmName.Result: FirmName.Result
          HouseNumber: HouseNumber
          BlockAddress: BlockAddress
          ApartmentLabel: ApartmentLabel
          ApartmentLabel.Input: ApartmentLabel.Input
          USCongressionalDistrict: USCongressionalDistrict
          DPV: DPV
          AddressBlock9: AddressBlock9
          POBox.Result: POBox.Result
          PostalCodeCity.Result: PostalCodeCity.Result
          ApartmentNumber.Result: ApartmentNumber.Result
          PrivateMailbox.Type: PrivateMailbox.Type
          RRHC.Result: RRHC.Result
          RDI: RDI
          USCarrierRouteCode: USCarrierRouteCode
          ApartmentNumber.Input: ApartmentNumber.Input
          City.Input: City.Input
          PostalCode.Input: PostalCode.Input
          USFinanceNumber: USFinanceNumber
          SuiteLinkFidelity: SuiteLinkFidelity
          USLastLineNumber: USLastLineNumber
          USUrbanName: USUrbanName
          Status.description: Status.description
          StreetNameAbbreviatedAlias.Result: StreetNameAbbreviatedAlias.Result
          USLACS.ReturnCode: USLACS.ReturnCode
          City.Result: City.Result
          StreetName: StreetName
          USLACS: USLACS
          POBox.Input: POBox.Input
          RRHC.Input: RRHC.Input
          TrailingDirectional: TrailingDirectional
          Street.Result: Street.Result
          PrivateMailbox: PrivateMailbox
          PrivateMailbox.Input: PrivateMailbox.Input
          DPVVacant: DPVVacant
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          Confidence: Confidence
          StreetName.Input: StreetName.Input
          StateProvince.Input: StateProvince.Input
          MatchScore: MatchScore
          FirmName: FirmName
          ApartmentLabel.Result: ApartmentLabel.Result
          StreetName.Alias.Type: StreetName.Alias.Type
          CountryLevel: CountryLevel
          City: City
          CouldNotValidate: CouldNotValidate
          MultimatchCount: MultimatchCount
          USCountyName: USCountyName
          TrailingDirectional.Result: TrailingDirectional.Result
          POBox: POBox
          StreetName.Result: StreetName.Result
          PostalCode: PostalCode
          ApartmentNumber: ApartmentNumber
          AdditionalInputData: AdditionalInputData
          PrivateMailbox.Type.Input: PrivateMailbox.Type.Input
          RecordType: RecordType
          StreetNamePreferredAlias.Result: StreetNamePreferredAlias.Result
          AddressRecord.Result: AddressRecord.Result
          DPVFootnote: DPVFootnote
          StreetSuffix.Input: StreetSuffix.Input
          DPVNoStat: DPVNoStat
          AddressFormat: AddressFormat
          PostalCode.Source: PostalCode.Source
          Status.Code: Status.Code
          CanLanguage: CanLanguage
          SuiteLinkMatchCode: SuiteLinkMatchCode
          SuiteLinkReturnCode: SuiteLinkReturnCode
          USBCCheckDigit: USBCCheckDigit
          RRHC.Type: RRHC.Type
          RecordType.Default: RecordType.Default
          MultipleMatches: MultipleMatches
      properties:
        Output:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIOutput'
          type: array
      type: object
    ValidateMailingAddressUSCANAPIInput:
      example:
        Row:
        - AddressLine3: AddressLine3
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          USUrbanName: USUrbanName
          AddressLine4: AddressLine4
          Country: Country
          PostalCode: PostalCode
          City: City
          CanLanguage: CanLanguage
        - AddressLine3: AddressLine3
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          USUrbanName: USUrbanName
          AddressLine4: AddressLine4
          Country: Country
          PostalCode: PostalCode
          City: City
          CanLanguage: CanLanguage
      properties:
        Row:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressUSCANAPIInputRow'
          type: array
      type: object
    GetPostalCodesAPIOutput:
      example:
        Status: Status
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        PostalCode: PostalCode
        Status.Description: Status.Description
        Status.Code: Status.Code
        City.Type: City.Type
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        PostalCode:
          description: The validated ZIP Code or postal code.
          type: string
        City.Type:
          description: City.Type
          type: string
        Status:
          description: Reports the success or failure of the match attempt.
          type: string
        Status.Code:
          description: Reason for failure, if there is one.
          type: string
        Status.Description:
          description: Description of the problem, if there is one.
          type: string
      type: object
    ValidateMailingAddressProOptions:
      example:
        OutputCasing: M
        OutputAddressBlocks: Y
        OutputCountryFormat: E
        OutputScript: InputScript
        KeepMultimatch: N
        MaximumResults: '10'
      properties:
        OutputAddressBlocks:
          default: Y
          description: Specifies whether to return a formatted version of the address as it would be printed on a physical mail piece.
          type: string
        KeepMultimatch:
          default: N
          description: Specifies whether to return multiple address for those input addresses that have more than one possible match.
          type: string
        OutputCountryFormat:
          default: E
          description: Specifies the format to use for the country name returned in the Country output field.
          type: string
        OutputScript:
          default: InputScript
          description: Specifies the alphabet or script in which the output should be returned.
          type: string
        OutputCasing:
          default: M
          description: Specify the casing of the output data.
          type: string
        MaximumResults:
          default: '10'
          description: A number between 1 and 10 that indicates the maximum number of addresses to return.
          type: string
      type: object
    GetPostalCodesAPIOutput_user_fields:
      example:
        name: name
        value: value
      properties:
        name:
          type: string
        value:
          type: string
      type: object
    ValidateMailingAddressPremiumInput:
      example:
        Row:
        - AddressLine3: AddressLine3
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          AddressLine5: AddressLine5
          StateProvince: StateProvince
          AddressLine4: AddressLine4
          Country: Country
          PostalCode: PostalCode
          City: City
        - AddressLine3: AddressLine3
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          AddressLine5: AddressLine5
          StateProvince: StateProvince
          AddressLine4: AddressLine4
          Country: Country
          PostalCode: PostalCode
          City: City
      properties:
        Row:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressPremiumInputRow'
          type: array
      type: object
    ValidateMailingAddressPremiumRequest:
      example:
        Input:
          Row:
          - AddressLine3: AddressLine3
            AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            AddressLine5: AddressLine5
            StateProvince: StateProvince
            AddressLine4: AddressLine4
            Country: Country
            PostalCode: PostalCode
            City: City
          - AddressLine3: AddressLine3
            AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            AddressLine5: AddressLine5
            StateProvince: StateProvince
            AddressLine4: AddressLine4
            Country: Country
            PostalCode: PostalCode
            City: City
        options:
          OutputRecordType: A
          OutputCasing: M
          OutputAddressBlocks: Y
          OutputCountryFormat: E
          OutputFieldLevelReturnCodes: N
          OutputScript: InputScript
          KeepMultimatch: N
          MaximumResults: '10'
      properties:
        options:
          $ref: '#/components/schemas/ValidateMailingAddressPremiumOptions'
        Input:
          $ref: '#/components/schemas/ValidateMailingAddressPremiumInput'
      type: object
    GetPostalCodesAPIInput:
      example:
        Row:
        - user_fields:
          - name: name
            value: value
          - name: name
            value: value
          StateProvince: StateProvince
          City: City
        - user_fields:
          - name: name
            value: value
          - name: name
            value: value
          StateProvince: StateProvince
          City: City
      properties:
        Row:
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIInputRow'
          type: array
      type: object
    GetCityStateProvinceAPIResponse:
      example:
        Output:
        - Status: Status
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          StateProvince: StateProvince
          PostalCode: PostalCode
          Status.Description: Status.Description
          City: City
          Status.Code: Status.Code
          City.Type: City.Type
        - Status: Status
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          StateProvince: StateProvince
          PostalCode: PostalCode
          Status.Description: Status.Description
          City: City
          Status.Code: Status.Code
          City.Type: City.Type
      properties:
        Output:
          items:
            $ref: '#/components/schemas/GetCityStateProvinceAPIOutput'
          type: array
      type: object
    ValidateMailingAddressProRequest:
      example:
        Input:
          Row:
          - AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            Country: Country
            PostalCode: PostalCode
            City: City
          - AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            Country: Country
            PostalCode: PostalCode
            City: City
        options:
          OutputCasing: M
          OutputAddressBlocks: Y
          OutputCountryFormat: E
          OutputScript: InputScript
          KeepMultimatch: N
          MaximumResults: '10'
      properties:
        options:
          $ref: '#/components/schemas/ValidateMailingAddressProOptions'
        Input:
          $ref: '#/components/schemas/ValidateMailingAddressProInput'
      type: object
    ValidateMailingAddressInput:
      example:
        Row:
        - AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          Country: Country
          PostalCode: PostalCode
          City: City
        - AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          FirmName: FirmName
          StateProvince: StateProvince
          Country: Country
          PostalCode: PostalCode
          City: City
      properties:
        Row:
          items:
            $ref: '#/components/schemas/ValidateMailingAddressInputRow'
          type: array
      type: object
    ValidateMailingAddressOptions:
      example:
        OutputCasing: M
      properties:
        OutputCasing:
          default: M
          description: Specify the casing of the output data.
          type: string
      type: object
    GetPostalCodesAPIRequest:
      example:
        Input:
          Row:
          - user_fields:
            - name: name
              value: value
            - name: name
              value: value
            StateProvince: StateProvince
            City: City
          - user_fields:
            - name: name
              value: value
            - name: name
              value: value
            StateProvince: StateProvince
            City: City
        options:
          OutputVanityCity: N
          OutputCityType: N
      properties:
        options:
          $ref: '#/components/schemas/GetPostalCodesAPIOptions'
        Input:
          $ref: '#/components/schemas/GetPostalCodesAPIInput'
      type: object
    ValidateMailingAddressRequest:
      example:
        Input:
          Row:
          - AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            Country: Country
            PostalCode: PostalCode
            City: City
          - AddressLine2: AddressLine2
            AddressLine1: AddressLine1
            user_fields:
            - name: name
              value: value
            - name: name
              value: value
            FirmName: FirmName
            StateProvince: StateProvince
            Country: Country
            PostalCode: PostalCode
            City: City
        options:
          OutputCasing: M
      properties:
        options:
          $ref: '#/components/schemas/ValidateMailingAddressOptions'
        Input:
          $ref: '#/components/schemas/ValidateMailingAddressInput'
      type: object
    ValidateMailingAddressProOutput:
      example:
        Status: Status
        BlockAddress: BlockAddress
        FirmName: FirmName
        Suburb: Suburb
        Locality: Locality
        StateProvince: StateProvince
        AddressQuality: AddressQuality
        PostalCode: PostalCode
        City: City
        Status.Code: Status.Code
        CouldNotValidate: CouldNotValidate
        Deliverability: Deliverability
        AdditionalInputData: AdditionalInputData
        AddressLine2: AddressLine2
        AddressLine1: AddressLine1
        PostalCode.Base: PostalCode.Base
        user_fields:
        - name: name
          value: value
        - name: name
          value: value
        ChangeScore: ChangeScore
        Country: Country
        Status.Description: Status.Description
        AddressType: AddressType
        PostalCode.AddOn: PostalCode.AddOn
      properties:
        user_fields:
          description: These fields are returned, unmodified, in the user_fields section of the response.
          items:
            $ref: '#/components/schemas/GetPostalCodesAPIOutput_user_fields'
          type: array
        AddressLine1:
          description: The first line of the validated address.
          type: string
        AddressLine2:
          description: The second line of the validated address.
          type: string
        FirmName:
          description: The validated firm or company name.
          type: string
        ChangeScore:
          description: A value of 0 and 100 that reflects how much the address has changed to make it valid.
          type: string
        Locality:
          description: Generally a locality is a village in rural areas or it may be a suburb in urban areas.
          type: string
        Suburb:
          description: The suburb name.
          type: string
        AddressType:
          description: A single letter code that indicates the type of address.
          type: string
        Deliverability:
          description: An estimate of confidence that an item mailed or shipped to this address would be successfully delivered.
          type: string
        AddressQuality:
          description: A two character code indicating overall quality of the resulting address.
          type: string
        CouldNotValidate:
          description: Mentions the address component that could not be validated, in case no match is found.
          type: string
        City:
          description: The validated city name.
          type: string
        PostalCode:
          description: The validated ZIP Code or postal code.
          type: string
        Country:
          description: The country in the format determined by what you selected.
          type: string
        StateProvince:
          description: The validated state or province abbreviation.
          type: string
        BlockAddress:
          description: The formatted address, as it would appear on a physical mail piece.
          type: string
        AdditionalInputData:
          description: Input data that could not be matched to a particular address component.
          type: string
        PostalCode.Base:
          description: The 5-digit ZIP Code.
          type: string
        PostalCode.AddOn:
          description: The 4-digit add-on part of the ZIP Code.
          type: string
        Status:
          description: Reports the success or failure of the match attempt.
          type: string
        Status.Code:
          description: Reason for failure, if there is one.
          type: string
        Status.Description:
          description: Description of the problem, if there is one.
          type: string
      type: object
    ValidateMailingAddressPremiumResponse:
      example:
        Output:
        - StreetName: StreetName
          ApartmentLabel2.Result: ApartmentLabel2.Result
          POBox.Input: POBox.Input
          Suburb: Suburb
          Country.Input: Country.Input
          RRHC.Input: RRHC.Input
          TrailingDirectional: TrailingDirectional
          Latitude: Latitude
          Street.Result: Street.Result
          PrivateMailbox: PrivateMailbox
          PrivateMailbox.Input: PrivateMailbox.Input
          StreetSuffix: StreetSuffix
          PostalCode.Base: PostalCode.Base
          user_fields:
          - name: name
            value: value
          - name: name
            value: value
          Confidence: Confidence
          StreetName.Input: StreetName.Input
          LeadingDirectional: LeadingDirectional
          FirmName.Input: FirmName.Input
          RRHC: RRHC
          Status: Status
          PostalCode.Result: PostalCode.Result
          StateProvince.Input: StateProvince.Input
          FirmName: FirmName
          Country.Result: Country.Result
          StreetName.Alias.Type: StreetName.Alias.Type
          ApartmentLabel.Result: ApartmentLabel.Result
          Locality: Locality
          StateProvince: StateProvince
          LeadingDirectional.Input: LeadingDirectional.Input
          CountryLevel: CountryLevel
          AddressQuality: AddressQuality
          City: City
          CouldNotValidate: CouldNotValidate
          Longitude: Longitude
          PostalCode.Type: PostalCode.Type
          AddressLine3: AddressLine3
          StateProvince.Result: StateProvince.Result
          AddressLine2: AddressLine2
          AddressLine1: AddressLine1
          TrailingDirectional.Result: TrailingDirectional.Result
          AddressLine5: AddressLine5
          AddressLine4: AddressLine4
          HouseNumber.Input: HouseNumber.Input
          Country: Country
          HouseNumber.Result: HouseNumber.Result
          ChangeScore: ChangeScore
          Status.Description: Status.Description
          ApartmentNumber2: ApartmentNumber2
          LeadingDirectional.Result: LeadingDirectional.Result
          PostalCode.AddOn: PostalCode.AddOn
          POBox: POBox
          TrailingDirectional.Input: TrailingDirectional.Input
          StreetSuffix.Result: StreetSuffix.Result
          ApartmentNumber2.Result: ApartmentNumber2.Result
          HouseNumber: HouseNumber
          StreetName.Result: StreetName.Result
          FirmName.Result: FirmName.Result
          BlockAddress: BlockAddress
          ApartmentLabel: ApartmentLabel
          ApartmentLabel.Input: ApartmentLabel.Input
          PostalCode: PostalCode
          ApartmentNumber: ApartmentNumber
          AdditionalInputData: AdditionalInputData
[...]
