openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Bylocation API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Bylocation
paths:
  /demographics-segmentation/v1/segmentation/bylocation:
    get:
      description: Provides the segmentation details around a specified location. GeoLife 'segmentation bylocation' service accepts longitude and latitude as an input to return the lifestyle characteristics of households in terms of their family status, children characteristics, income behaviors, financial preferences and interests.
      operationId: getSegmentationByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segmentation'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Segmentation By Location.
      tags:
      - Bylocation
      x-accepts: application/json
  /demographics-segmentation/v1/demographics/bylocation:
    get:
      description: Provides the demographic details around a specified location. GeoLife 'bylocation' service accepts longitude and latitude as an input to return a specific population segment's age group, ethnicity, income, purchasing behaviour, commuter patterns and more.
      operationId: getDemographicsByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: Retrieves the sorted demographic data on the basis of pre-defined profiles that can display the top 3 or top 5 results (by location) either in ascending or descending order.Allowed values Top5Ascending,Top5Descending,Top3Ascending,Top3Descending
        in: query
        name: profile
        required: false
        schema:
          type: string
      - description: The 'filter' parameter retrieves the demographic data based upon specified input themes.
        in: query
        name: filter
        required: false
        schema:
          type: string
      - description: The 'valueFormat' parameter is applicable for few ranged variables where percent & count both are available and filter response based on the input value.
        in: query
        name: valueFormat
        required: false
        schema:
          type: string
      - description: The 'variableLevel' retrieves demographic facts in response based on the input value
        in: query
        name: variableLevel
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Demographics'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Demographics By Location.
      tags:
      - Bylocation
      x-accepts: application/json
  /places/v1/poi/bylocation:
    get:
      description: This service accepts latitude/longitude as input and returns nearby points-of-interest places around that location. Additional input features include retrieving data by name, type, standard industrial classifications and category codes, as well as geographic filtering by radius, travel times and travel distances. Response features include JSON as well as CSV download
      operationId: getPOIsByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Specifies the name of the place (POI) to be searched. Also performs search on partially specified names. It requires minimum 3 characters to search.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filters the points of interest (POIs) by place types.
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results. The category codes are unique 4, 6, or 11 digit numeric values.
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Acts as a filter to narrow down and refine POI search results. The SIC codes are unique 4 or 8 digit numerical values
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Maximum number of POIs that can be retrieved
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Radius range within which search is performed.
        in: query
        name: searchRadius
        required: false
        schema:
          type: string
      - description: Radius unit such as Feet, Kilometers, Miles or Meters (default).
        in: query
        name: searchRadiusUnit
        required: false
        schema:
          type: string
      - description: Travel time within which search is performed (POIs which can be reached within travel time).
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: Travel time unit such as minutes (default), hours, seconds or milliseconds.
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Travel distance within which search is performed (POIs which can be reached within travel distance).
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Travel distance unit such as Feet (default), Kilometers, Miles or Meters.
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: Mode of commute.
        in: query
        name: travelMode
        required: false
        schema:
          type: string
      - description: Whether to sort the results based on relevance (best match) or by nearest distance from input location.
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Whether to allow fuzzy seacrh on name input.
        in: query
        name: fuzzyOnName
        required: false
        schema:
          type: string
      - description: Specifies the page number of results where page size is the value of maxCandidates input in request.
        in: query
        name: page
        required: false
        schema:
          type: string
      - description: Determine the leniency used to make a match between the input name and the reference data.
        in: query
        name: matchMode
        required: false
        schema:
          type: string
      - description: Specifies the field for the Specific Match Mode.
        in: query
        name: specificMatchOn
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get POIs By Location.
      tags:
      - Bylocation
      x-accepts: application/json
  /property/v2/parcelboundary/bylocation:
    get:
      description: Accepts latitude/longitude as input and returns property parcel boundary around that location.
      operationId: getParcelBoundaryByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParcelBoundaryV2'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Parcel Boundary By Location
      tags:
      - Bylocation
      x-accepts: application/json
  /911/v1/ahj-psap/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns contact details for Authorities Having Jurisdiction (AHJ) on-behalf-of local Public Safety Answering Points (PSAP). 911/PSAP accepts a location coordinate and returns PSAP contact data plus contact data for an AHJ to communicate directly with a PSAP. Details include agency name, phone number, city name, coverage, contact person's details, site details and mailing addresses for EMS, Fire, and Police PSAP contacts.
      operationId: getAHJPlusPSAPByLocation
      parameters:
      - description: Longitude of the location.
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of the location.
        in: query
        name: latitude
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AHJPlusPSAPResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: AHJ & PSAP By Location
      tags:
      - Bylocation
      x-accepts: application/json
  /risks/v1/shoreline/distancetofloodhazard/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByLocation
      parameters:
      - description: The longitude of the location
        in: query
        name: longitude
        required: false
        schema:
          type: string
      - description: The latitude of the location
        in: query
        name: latitude
        required: false
        schema:
          type: string
      - description: This specifies the value of maxCandidates
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: This specifies the value of waterBodyType
        in: query
        name: waterBodyType
        required: false
        schema:
          type: string
      - description: This specifies the search distance
        in: query
        name: searchDistance
        required: false
        schema:
          type: string
      - description: miles (default value),feet, kilometers, meters
        in: query
        name: searchDistanceUnit
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaterBodyResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Distance To Flood Hazard By Location
      tags:
      - Bylocation
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Distance To Flood Hazard By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve the distance from nearest water bodies along with body name and location.
      operationId: getDistanceToCoastByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceToFloodHazardLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceToFloodHazardResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Distance To Flood Hazard By Location
      tags:
      - Bylocation
      x-contentType: application/json
      x-accepts: application/json
  /routing/v1/travelcostmatrix/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns travel distances and times for multiple origins to multiple destinations by various travel modes.
      operationId: getTravelCostMatrixByLocation
      parameters:
      - description: The address to be searched.
        in: query
        name: startPoints
        required: false
        schema:
          type: string
      - description: The address to be searched.
        in: query
        name: endPoints
        required: false
        schema:
          type: string
      - description: Mode of commute.
        in: query
        name: db
        required: false
        schema:
          default: driving
          type: string
      - description: Specifies whether routes should be optimized by time or distance.
        in: query
        name: optimizeBy
        required: false
        schema:
          default: time
          type: string
      - description: Specifies whether distance needs to be returned in response.
        in: query
        name: returnDistance
        required: false
        schema:
          default: 'true'
          type: string
      - description: Specifies the desired coordinate system of returned routes.
        in: query
        name: destinationSrs
        required: false
        schema:
          default: epsg:4326
          type: string
      - description: Return Distance Unit such as ft(Foot), km(Kilometer), mi(Mile), m(Meter) or yd(Yard).
        in: query
        name: distanceUnit
        required: false
        schema:
          default: m
          type: string
      - description: Specifies whether time needs to be returned in response.
        in: query
        name: returnTime
        required: false
        schema:
          default: 'true'
          type: string
      - description: Return time unit such as min(Minute), h(Hour), s(Second) or msec(Millisecond).
        in: query
        name: timeUnit
        required: false
        schema:
          default: min
          type: string
      - description: Whether to include all roads in routes calculation or just major roads.
        in: query
        name: majorRoads
        required: false
        schema:
          default: 'false'
          type: string
      - description: Specifies whether to return only the optimized route for each start and end point combination.
        in: query
        name: returnOptimalRoutesOnly
        required: false
        schema:
          default: 'true'
          type: string
      - description: Specifies whether routing calculation uses the historic traffic speeds.
        in: query
        name: historicTrafficTimeBucket
        required: false
        schema:
          default: None
          type: string
      - description: This parameter will enable/disable CVR (Commercial Vehicle Restrictions) capability in our APIs.
        in: query
        name: useCvr
        required: false
        schema:
          default: N
          type: string
      - description: Specifies that barriers will be removed when determining the route.
        in: query
        name: looseningBarrierRestrictions
        required: false
        schema:
          default: Y
          type: string
      - description: vehicle type.
        in: query
        name: vehicleType
        required: false
        schema:
          default: ALL
          type: string
      - description: Specifies the maximum weight of a vehicle. Any vehicles over this value will be restricted when determining the route.
        in: query
        name: weight
        required: false
        schema:
          default: ''
          type: string
      - description: The unit of weight eg. kg(kilogram), lb(pound), mt(metric ton), t(ton).
        in: query
        name: weightUnit
        required: false
        schema:
          default: kg
          type: string
      - description: Specifies the maximum height of a vehicle. Any vehicles over this value will be restricted when determining the route.
        in: query
        name: height
        required: false
        schema:
          default: ''
          type: string
      - description: The unit of height e.g m(meter), km(kilometer), yd(yard), ft(foot), mi(mile).
        in: query
        name: heightUnit
        required: false
        schema:
          default: ft
          type: string
      - description: Specifies the maximum length of a vehicle. Any vehicles over this value will be restricted when determining the route.
        in: query
        name: length
        required: false
        schema:
          default: ''
          type: string
      - description: The unit of length eg. m(meter), km(kilometer), yd(yard), ft(foot), mi(mile).
        in: query
        name: lengthUnit
        required: false
        schema:
          default: ft
          type: string
      - description: Specifies the maximum width of a vehicle. Any vehicles over this value will be restricted when determining the route.
        in: query
        name: width
        required: false
        schema:
          default: ''
          type: string
      - description: The unit of width eg. m(meter), km(kilometer), yd(yard), ft(foot), mi(mile).
        in: query
        name: widthUnit
        required: false
        schema:
          default: ft
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelCostMatrixResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Cost Matrix By Location.
      tags:
      - Bylocation
      x-accepts: application/json
  /zones/v1/poiboundary/bylocation:
    get:
      description: Get Point of Interests Boundary by Location.
      operationId: getPOIBoundaryByLocation
      parameters:
      - description: Latitude around which POI Boundary is requested
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Longitude around which POI Boundary is requested
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Specific Category/Categories Codes for the desired POIs. Accepts a mix of 4 digit (Top Category), 6 digit (Second-Level Category) and 11 digit (Low-Level Category) Category Codes
        in: query
        name: categoryCode
        required: false
        schema:
          type: string
      - description: Specify starting digits or full sic code to filter the response
        in: query
        name: sicCode
        required: false
        schema:
          type: string
      - description: Will accept naicsCode to filter POIs in results. Max 10 allowed.
        in: query
        name: naicsCode
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/poiBoundary'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Point of Interests Boundary by Location.
      tags:
      - Bylocation
      x-accepts: application/json
    post:
      description: Batch method for getting Point of Interests Boundary by Location.
      operationId: getPOIBoundaryByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POIBoundaryLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POIBoundaryResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Batch method for getting Point of Interests Boundary by Location.
      tags:
      - Bylocation
      x-contentType: application/json
      x-accepts: application/json
  /zones/v1/basicboundary/bylocation:
    get:
      description: Gets Basic Boundary by Location.
      operationId: getBasicBoundaryByLocation
      parameters:
      - description: Latitude around which Basic Boundary is requested
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Longitude around which Basic Boundary is requested
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: This is width of the buffer (in a complete circular buffer, it would be radius of the buffer). This has to be a positive number.
        in: query
        name: distance
        required: true
        schema:
          type: string
      - in: query
        name: distanceUnit
        required: false
        schema:
          type: string
      - description: This is resolution of the buffer. Curves generated in buffer are approximated by line segments and it is measured in segments per circle. The higher the resolution, the smoother the curves of the buffer but more points would be required in the boundary geometry. Number greater than 0 and in multiple of 4. If not in 4, then it is approximated to nearest multiple of 4.
        in: query
        name: resolution
        required: false
        schema:
          type: string
      - in: query
        name: responseSrs
        required: false
        schema:
          type: string
      - in: query
        name: srsName
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/basicBoundary'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Gets Basic Boundary by Location.
      tags:
      - Bylocation
      x-accepts: application/json
components:
  schemas:
    ZonesSic:
      example:
        sicCode: sicCode
        primarySicCode: primarySicCode
        businessLine: businessLine
        sicCodeDescription: sicCodeDescription
      properties:
        businessLine:
          type: string
        sicCode:
          type: string
        sicCodeDescription:
          type: string
        primarySicCode:
          type: string
      type: object
    address_1:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    POIBoundaryResponse:
      example:
        poiBoundary:
        - countyfips: countyfips
          center:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          poiList:
          - brandName: brandName
            open24Hours: open24Hours
            tickerSymbol: tickerSymbol
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              propertyAddress:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
            employeeCount:
              inLocalBranch: inLocalBranch
              inOrganization: inOrganization
            poiClassification:
              alternateIndustryCode: alternateIndustryCode
              sic:
                sicCode: sicCode
                primarySicCode: primarySicCode
                businessLine: businessLine
                sicCodeDescription: sicCodeDescription
              category:
                tradeGroup: tradeGroup
                subClass: subClass
                tradeDivision: tradeDivision
                categoryCode: categoryCode
                class: class
            organizationStatusCode: organizationStatusCode
            tradeName: tradeName
            organizationStatusCodeDescription: organizationStatusCodeDescription
            name: name
            parentBusiness:
              name: name
            exchangeName: exchangeName
            id: id
            franchiseName: franchiseName
          - brandName: brandName
            open24Hours: open24Hours
            tickerSymbol: tickerSymbol
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              propertyAddress:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
            employeeCount:
              inLocalBranch: inLocalBranch
              inOrganization: inOrganization
            poiClassification:
              alternateIndustryCode: alternateIndustryCode
              sic:
                sicCode: sicCode
                primarySicCode: primarySicCode
                businessLine: businessLine
                sicCodeDescription: sicCodeDescription
              category:
                tradeGroup: tradeGroup
                subClass: subClass
                tradeDivision: tradeDivision
                categoryCode: categoryCode
                class: class
            organizationStatusCode: organizationStatusCode
            tradeName: tradeName
            organizationStatusCodeDescription: organizationStatusCodeDescription
            name: name
            parentBusiness:
              name: name
            exchangeName: exchangeName
            id: id
            franchiseName: franchiseName
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - countyfips: countyfips
          center:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          poiList:
          - brandName: brandName
            open24Hours: open24Hours
            tickerSymbol: tickerSymbol
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              propertyAddress:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
            employeeCount:
              inLocalBranch: inLocalBranch
              inOrganization: inOrganization
            poiClassification:
              alternateIndustryCode: alternateIndustryCode
              sic:
                sicCode: sicCode
                primarySicCode: primarySicCode
                businessLine: businessLine
                sicCodeDescription: sicCodeDescription
              category:
                tradeGroup: tradeGroup
                subClass: subClass
                tradeDivision: tradeDivision
                categoryCode: categoryCode
                class: class
            organizationStatusCode: organizationStatusCode
            tradeName: tradeName
            organizationStatusCodeDescription: organizationStatusCodeDescription
            name: name
            parentBusiness:
              name: name
            exchangeName: exchangeName
            id: id
            franchiseName: franchiseName
          - brandName: brandName
            open24Hours: open24Hours
            tickerSymbol: tickerSymbol
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              propertyAddress:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
            employeeCount:
              inLocalBranch: inLocalBranch
              inOrganization: inOrganization
            poiClassification:
              alternateIndustryCode: alternateIndustryCode
              sic:
                sicCode: sicCode
                primarySicCode: primarySicCode
                businessLine: businessLine
                sicCodeDescription: sicCodeDescription
              category:
                tradeGroup: tradeGroup
                subClass: subClass
                tradeDivision: tradeDivision
                categoryCode: categoryCode
                class: class
            organizationStatusCode: organizationStatusCode
            tradeName: tradeName
            organizationStatusCodeDescription: organizationStatusCodeDescription
            name: name
            parentBusiness:
              name: name
            exchangeName: exchangeName
            id: id
            franchiseName: franchiseName
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        poiBoundary:
          items:
            $ref: '#/components/schemas/poiBoundary'
          type: array
      type: object
    GlobalUltimateBusiness:
      example:
        address:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        name: name
        id: id
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/address_1'
      type: object
    IncomeTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    HouseholdsTheme:
      example:
        rangeVariable:
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        - field:
          - name: name
            description: description
            value: value
          - name: name
            description: description
            value: value
          year: year
          count: count
          name: name
          baseVariable: baseVariable
          alias: alias
          description: description
          order: order
        individualValueVariable:
        - year: year
          name: name
          description: description
          value: value
        - year: year
          name: name
          description: description
          value: value
        boundaryRef: boundaryRef
      properties:
        boundaryRef:
          type: string
        individualValueVariable:
          items:
            $ref: '#/components/schemas/IndividualValueVariable'
          type: array
        rangeVariable:
          items:
            $ref: '#/components/schemas/RangeVariable'
          type: array
      type: object
    PropertyInformationGeometryCRC:
      example:
        type: type
        properties:
          name: name
      properties:
        type:
          type: string
        properties:
          $ref: '#/components/schemas/GeometryProperties'
      type: object
    PropertyInformationGeometry:
      example:
        crs:
          type: type
          properties:
            name: name
        coordinates: '{}'
        type: type
      properties:
        type:
          type: string
        crs:
          $ref: '#/components/schemas/PropertyInformationGeometryCRC'
        coordinates:
          type: object
      type: object
    DistanceToFloodHazardResponse:
      example:
        waterBodies:
        - waterBody:
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - waterBody:
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          - distance:
              unit: unit
              value: value
            name: name
            type:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        waterBodies:
          items:
            $ref: '#/components/schemas/WaterBodyResponse'
          type: array
      type: object
    Boundary:
      example:
        boundaryId: boundaryId
        boundaryRef: boundaryRef
        boundaryType: boundaryType
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        url: url
      properties:
        boundaryId:
          type: string
        boundaryType:
          type: string
        boundaryRef:
          type: string
        geometry:
          $ref: '#/components/schemas/DemographicsGeometry'
        url:
          type: string
      type: object
    DemographicsThemesV2:
      example:
        householdsTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        supplyAndDemandTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        housingTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        employmentTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        boundaryId: boundaryId
        incomeTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        assetsAndWealthTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        healthTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        educationTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        raceAndEthnicityTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        expenditureTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
        populationTheme:
          rangeVariable:
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          - field:
            - name: name
              description: description
              value: value
            - name: name
              description: description
              value: value
            year: year
            count: count
            name: name
            baseVariable: baseVariable
            alias: alias
            description: description
            order: order
          individualValueVariable:
          - year: year
            name: name
            description: description
            value: value
          - year: year
            name: name
            description: description
            value: value
          boundaryRef: boundaryRef
      properties:
        boundaryId:
          type: string
        populationTheme:
          $ref: '#/components/schemas/PopulationTheme'
        raceAndEthnicityTheme:
          $ref: '#/components/schemas/RaceAndEthnicityTheme'
        healthTheme:
          $ref: '#/components/schemas/HealthTheme'
        educationTheme:
          $ref: '#/components/schemas/EducationTheme'
        incomeTheme:
          $ref: '#/components/schemas/IncomeTheme'
        assetsAndWealthTheme:
          $ref: '#/components/schemas/AssetsAndWealthTheme'
        householdsTheme:
          $ref: '#/components/schemas/HouseholdsTheme'
        housingTheme:
          $ref: '#/components/schemas/HousingTheme'
        employmentTheme:
          $ref: '#/components/schemas/EmploymentTheme'
        expenditureTheme:
          $ref: '#/components/schemas/ExpenditureTheme'
        supplyAndDemandTheme:
          $ref: '#/components/schemas/SupplyAndDemandTheme'
      type: object
    PlacesResponse:
      example:
        candidates: candidates
        page: page
        poi:
        - parentPbkey: parentPbkey
          distance:
            unit: unit
            value: value
          salesVolume:
          - currencyCode: currencyCode
            worldBaseCurrencyCode: worldBaseCurrencyCode
            value: value
          - currencyCode: currencyCode
            worldBaseCurrencyCode: worldBaseCurrencyCode
            value: value
          hierarchyCode: hierarchyCode
          businessId:
            type: type
            value: value
          open24Hours: open24Hours
          employeeCount:
            inLocalBranch: inLocalBranch
            inOrganization: inOrganization
          subsidaryIndicator: subsidaryIndicator
          domesticUltimateBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          globalUltimateBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          familyMembers: familyMembers
          poiClassification:
            alternateIndustryCode: alternateIndustryCode
            sic:
              sicCode: sicCode
              primarySicCode: primarySicCode
              businessLine: businessLine
              sicCodeDescription: sicCodeDescription
              secondarySicCode: secondarySicCode
            category:
              tradeGroup: tradeGroup
              subClass: subClass
              tradeDivision: tradeDivision
              categoryCode: categoryCode
              class: class
          globalUltimateIndicator: globalUltimateIndicator
          tradeName: tradeName
          geocodeConfidence: geocodeConfidence
          goodsAgentCodeDescription: goodsAgentCodeDescription
          organizationStatusCodeDescription: organizationStatusCodeDescription
          subsidaryIndicatorDescription: subsidaryIndicatorDescription
          parentBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          id: id
          poiId: poiId
          ceoName: ceoName
          yearStart: yearStart
          franchiseName: franchiseName
          brandName: brandName
          tickerSymbol: tickerSymbol
          contactDetails:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            phone: phone
            countryAccessCode: countryAccessCode
            fax: fax
            email: email
            url: url
          ceoTitle: ceoTitle
          goodsAgentCode: goodsAgentCode
          organizationStatusCode: organizationStatusCode
          relevanceScore: relevanceScore
          pbkey: pbkey
          name: name
          exchangeName: exchangeName
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          legalStatusCode: legalStatusCode
        - parentPbkey: parentPbkey
          distance:
            unit: unit
            value: value
          salesVolume:
          - currencyCode: currencyCode
            worldBaseCurrencyCode: worldBaseCurrencyCode
            value: value
          - currencyCode: currencyCode
            worldBaseCurrencyCode: worldBaseCurrencyCode
            value: value
          hierarchyCode: hierarchyCode
          businessId:
            type: type
            value: value
          open24Hours: open24Hours
          employeeCount:
            inLocalBranch: inLocalBranch
            inOrganization: inOrganization
          subsidaryIndicator: subsidaryIndicator
          domesticUltimateBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          globalUltimateBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          familyMembers: familyMembers
          poiClassification:
            alternateIndustryCode: alternateIndustryCode
            sic:
              sicCode: sicCode
              primarySicCode: primarySicCode
              businessLine: businessLine
              sicCodeDescription: sicCodeDescription
              secondarySicCode: secondarySicCode
            category:
              tradeGroup: tradeGroup
              subClass: subClass
              tradeDivision: tradeDivision
              categoryCode: categoryCode
              class: class
          globalUltimateIndicator: globalUltimateIndicator
          tradeName: tradeName
          geocodeConfidence: geocodeConfidence
          goodsAgentCodeDescription: goodsAgentCodeDescription
          organizationStatusCodeDescription: organizationStatusCodeDescription
          subsidaryIndicatorDescription: subsidaryIndicatorDescription
          parentBusiness:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            name: name
            id: id
          id: id
          poiId: poiId
          ceoName: ceoName
          yearStart: yearStart
          franchiseName: franchiseName
          brandName: brandName
          tickerSymbol: tickerSymbol
          contactDetails:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            phone: phone
            countryAccessCode: countryAccessCode
            fax: fax
            email: email
            url: url
          ceoTitle: ceoTitle
          goodsAgentCode: goodsAgentCode
          organizationStatusCode: organizationStatusCode
          relevanceScore: relevanceScore
          pbkey: pbkey
          name: name
          exchangeName: exchangeName
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          legalStatusCode: legalStatusCode
        totalMatchingCandidates: totalMatchingCandidates
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        page:
          type: string
        candidates:
          type: string
        totalMatchingCandidates:
          type: string
        poi:
          items:
            $ref: '#/components/schemas/poi'
          type: array
        matchedAddress:
          $ref: '#/components/schemas/address_1'
      type: object
    ZonesBoundaryGeometry:
      example:
        coordinates:
        - - - 6.027456183070403
            - 6.027456183070403
          - - 6.027456183070403
            - 6.027456183070403
        - - - 6.027456183070403
            - 6.027456183070403
          - - 6.027456183070403
            - 6.027456183070403
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            items:
              items:
                format: double
                type: number
              type: array
            type: array
          type: array
      type: object
    Type:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    Demographics:
      example:
        themes:
          householdsTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          supplyAndDemandTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          housingTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          employmentTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          boundaryId: boundaryId
          incomeTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          assetsAndWealthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          healthTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          educationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          raceAndEthnicityTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          expenditureTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
          populationTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            individualValueVariable:
            - year: year
              name: name
              description: description
              value: value
            - year: year
              name: name
              description: description
              value: value
            boundaryRef: boundaryRef
        boundaryThemes:
        - householdsTheme:
            rangeVariable:
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
              count: count
              name: name
              baseVariable: baseVariable
              alias: alias
              description: description
              order: order
            - field:
              - name: name
                description: description
                value: value
              - name: name
                description: description
                value: value
              year: year
[...]
