openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Flood API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Flood
paths:
  /risks/v1/flood/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Flag to return zone description
        in: query
        name: includeZoneDesc
        required: false
        schema:
          type: string
      - description: Flag to return Geometry
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Flood Risk By Location
      tags:
      - Flood
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Flood Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloodRiskByLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Flood Risk By Location
      tags:
      - Flood
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/flood/byaddress:
    get:
      description: Accepts addresses as input and Returns flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByAddress
      parameters:
      - description: Free text Address
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Flag to return zone description
        in: query
        name: includeZoneDesc
        required: false
        schema:
          type: string
      - description: Flag to return Geometry
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Flood Risk By Address
      tags:
      - Flood
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Flood Risk By Address' service. It accepts a single address or a list of addresses and retrieve flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloodRiskByAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Flood Risk By Address
      tags:
      - Flood
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    CrimeBoundary:
      example:
        ref: ref
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
        ref:
          type: string
        geometry:
          $ref: '#/components/schemas/CommonGeometry'
      type: object
    PrimaryZone:
      example:
        code: code
        description: description
      properties:
        code:
          type: string
        description:
          type: string
      type: object
    RisksGeometryCRC:
      example:
        type: type
        properties:
          name: name
      properties:
        type:
          type: string
        properties:
          $ref: '#/components/schemas/GeometryProperties'
      type: object
    BaseFloodElevation:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
    RiskGeometry:
      example:
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      required:
      - type
      type: object
    FloodRiskResponseList:
      example:
        floodRisk:
        - boundary:
            ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
          floodZone:
            primaryZone:
              code: code
              description: description
            code: code
            riskLevel: riskLevel
            areaType: areaType
            baseFloodElevation:
              unit: unit
              value: value
            additionalInfo: additionalInfo
          state:
            code: code
            fips: fips
          community:
            number: number
            status:
              code: code
              description: description
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - boundary:
            ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
          floodZone:
            primaryZone:
              code: code
              description: description
            code: code
            riskLevel: riskLevel
            areaType: areaType
            baseFloodElevation:
              unit: unit
              value: value
            additionalInfo: additionalInfo
          state:
            code: code
            fips: fips
          community:
            number: number
            status:
              code: code
              description: description
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        floodRisk:
          items:
            $ref: '#/components/schemas/FloodRiskResponse'
          type: array
      type: object
    FloodRiskResponse:
      example:
        boundary:
          ref: ref
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          type: type
        floodZone:
          primaryZone:
            code: code
            description: description
          code: code
          riskLevel: riskLevel
          areaType: areaType
          baseFloodElevation:
            unit: unit
            value: value
          additionalInfo: additionalInfo
        state:
          code: code
          fips: fips
        community:
          number: number
          status:
            code: code
            description: description
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        state:
          $ref: '#/components/schemas/State'
        floodZone:
          $ref: '#/components/schemas/FloodZone'
        community:
          $ref: '#/components/schemas/Community'
        boundary:
          $ref: '#/components/schemas/CrimeBoundary'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    GeometryProperties:
      example:
        name: name
      properties:
        name:
          type: string
      type: object
    FloodRiskByLocationRequest:
      example:
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodRiskPreferences'
      required:
      - locations
      type: object
    FloodRiskPreferences:
      example:
        richterValue: richterValue
        includeZoneDesc: includeZoneDesc
        includeGeometry: includeGeometry
      properties:
        includeGeometry:
          type: string
        includeZoneDesc:
          type: string
        richterValue:
          type: string
      type: object
    RiskLocations:
      example:
        geometry:
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
        objectId: objectId
        purchaseAmount: purchaseAmount
      properties:
        geometry:
          $ref: '#/components/schemas/RiskGeometry'
        purchaseAmount:
          type: string
        objectId:
          type: string
      required:
      - geometry
      type: object
    Community:
      example:
        number: number
        status:
          code: code
          description: description
      properties:
        number:
          type: string
        status:
          $ref: '#/components/schemas/Status'
      type: object
    FloodZone:
      example:
        primaryZone:
          code: code
          description: description
        code: code
        riskLevel: riskLevel
        areaType: areaType
        baseFloodElevation:
          unit: unit
          value: value
        additionalInfo: additionalInfo
      properties:
        code:
          type: string
        areaType:
          type: string
        riskLevel:
          type: string
        primaryZone:
          $ref: '#/components/schemas/PrimaryZone'
        baseFloodElevation:
          $ref: '#/components/schemas/BaseFloodElevation'
        additionalInfo:
          type: string
      type: object
    State:
      example:
        code: code
        fips: fips
      properties:
        fips:
          type: string
        code:
          type: string
      type: object
    RiskAddress:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    FloodRiskByAddressRequest:
      example:
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/RiskAddress'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodRiskPreferences'
      required:
      - addresses
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    CommonGeometry:
      example:
        crs:
          type: type
          properties:
            name: name
        coordinates: '{}'
        type: type
      properties:
        type:
          type: string
        crs:
          $ref: '#/components/schemas/RisksGeometryCRC'
        coordinates:
          type: object
      type: object
    Status:
      example:
        code: code
        description: description
      properties:
        code:
          type: string
        description:
          type: string
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
