openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Risks  Service API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Risks  Service
paths:
  /risks/v1/flood/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Flag to return zone description
        in: query
        name: includeZoneDesc
        required: false
        schema:
          type: string
      - description: Flag to return Geometry
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Flood Risk By Location
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Flood Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloodRiskByLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Flood Risk By Location
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/flood/byaddress:
    get:
      description: Accepts addresses as input and Returns flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByAddress
      parameters:
      - description: Free text Address
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Flag to return zone description
        in: query
        name: includeZoneDesc
        required: false
        schema:
          type: string
      - description: Flag to return Geometry
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Flood Risk By Address
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Flood Risk By Address' service. It accepts a single address or a list of addresses and retrieve flood risk data for flood zones and base flood elevation values.
      operationId: getFloodRiskByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FloodRiskByAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloodRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Flood Risk By Address
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/fire/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns fire risk data by risk types.
      operationId: getFireRiskByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Flag to return Geometry default is N
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Risk By Location
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Fire Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve fire risk data by risk types.
      operationId: getFireRiskByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireRiskByLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Fire Risk By Location
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/fire/byaddress:
    get:
      description: Accepts addresses as input and Returns fire risk data by risk types.
      operationId: getFireRiskByAddress
      parameters:
      - description: Free form address text
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Flag to return Geometry default is N
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Risk By Address
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Fire Risk By Address' service. It accepts a single address or a list of addresses and retrieve fire risk data by risk types.
      operationId: getFireRiskByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireRiskByAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Fire Risk By Address
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v2/fire/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns fire risk data by risk types.
      operationId: getFireRiskV2ByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Flag to return Geometry default is N
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskV2Response'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Risk By Location
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Fire Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve fire risk data by risk types.
      operationId: getFireRiskV2ByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireRiskByLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskV2ResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Fire Risk By Location
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v2/fire/byaddress:
    get:
      description: Accepts addresses as input and Returns fire risk data by risk types.
      operationId: getFireRiskV2ByAddress
      parameters:
      - description: Free form address text
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Flag to return Geometry default is N
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskV2Response'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Risk By Address
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Fire Risk By Address' service. It accepts a single address or a list of addresses and retrieve fire risk data by risk types.
      operationId: getFireRiskV2ByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FireRiskByAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FireRiskV2ResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Fire Risk By Address
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/earthquake/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns counts of earthquakes for various richter measurements and values.
      operationId: getEarthquakeRiskByLocation
      parameters:
      - description: The longitude of the location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: The latitude of the location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: all (default value), R0, R1, R2, R3, R4, R5, R6, R7, R0_GE, R1_GE, R2_GE, R3_GE, R4_GE, R5_GE, R6_GE, R7_GE
        in: query
        name: richterValue
        required: false
        schema:
          type: string
      - description: Y or N (default is N) - if it is Y, then geometry will be part of response
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarthquakeRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Earthquake Risk By Location
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Earthquake Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve counts of earthquakes for various richter measurements and values.
      operationId: getEarthquakeRiskByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarthquakeRiskByLocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarthquakeRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Earthquake Risk By Location
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/earthquake/byaddress:
    get:
      description: Accepts addresses as input and Returns counts of earthquakes for various richter measurements and values.
      operationId: getEarthquakeRiskByAddress
      parameters:
      - description: free form address text
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: all (default value), R0, R1, R2, R3, R4, R5, R6, R7, R0_GE, R1_GE, R2_GE, R3_GE, R4_GE, R5_GE, R6_GE, R7_GE
        in: query
        name: richterValue
        required: false
        schema:
          type: string
      - description: Y or N (default is N) - if it is Y, then geometry will be part of response
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarthquakeRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Earthquake Risk By Address
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Earthquake Risk By Address' service. It accepts a single address or a list of addresses and retrieve counts of earthquakes for various richter measurements and values.
      operationId: getEarthquakeRiskByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarthquakeRiskByAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarthquakeRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Earthquake Risk By Address
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/crime/bylocation:
    get:
      description: Accepts latitude/longitude as input and returns and Returns local crime indexes.
      operationId: getCrimeRiskByLocation
      parameters:
      - description: The longitude of the location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: The latitude of the location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: this is crime type; valid values are following 11 crime types with 'all' as default (more than one can also be given as comma separated types)
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Y or N (default is N) - if it is Y, then geometry will be part of response
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrimeRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Crime Risk By  Location
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Crime Risk By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve local crime indexes.
      operationId: getCrimeRiskByLocationBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrimeRiskByLocationBatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrimeRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Crime Risk By Location
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/crime/byaddress:
    get:
      description: Accepts addresses as input and Returns local crime indexes.
      operationId: getCrimeRiskByAddress
      parameters:
      - description: free form address text
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: this is crime type; valid values are following 11 crime types with 'all' as default (more than one can also be given as comma separated types)
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Y or N (default is N) - if it is Y, then geometry will be part of response
        in: query
        name: includeGeometry
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrimeRiskResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Crime Risk By Address
      tags:
      - Risks  Service
      x-accepts: application/json
    post:
      description: This is a Batch offering for 'Crime Risk By Address' service. It accepts a single address or a list of addresses and retrieve local crime indexes.
      operationId: getCrimeRiskByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrimeRiskByAddressBatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrimeRiskResponseList'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Post Crime Risk By Address
      tags:
      - Risks  Service
      x-contentType: application/json
      x-accepts: application/json
  /risks/v1/firestation/bylocation:
    get:
      description: Accepts latitude & longitude as input and Returns nearest fire stations.
      operationId: getFireStationByLocation
      parameters:
      - description: Longitude of Location
        in: query
        name: longitude
        required: true
        schema:
          type: string
      - description: Latitude of Location
        in: query
        name: latitude
        required: true
        schema:
          type: string
      - description: Specifies the maximum number of fire stations that this service retrieves. The default value is 3 and maximum value is 5. The retrieved results are traveldistance sorted from the input location.
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Max travel time from input location to fire station. Maximum allowed is 2 hours
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: minutes (default), hours, seconds, milliseconds
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Max travel distance from input location to fire station. Maximum allowed is 50 miles
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Feet (default), Kilometers, Miles, Meters
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: time (default), distance
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Historic traffic time slab
        in: query
        name: historicTrafficTimeBucket
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fireStations'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Station By Location
      tags:
      - Risks  Service
      x-accepts: application/json
  /risks/v1/firestation/byaddress:
    get:
      description: Accepts addresses as input and Returns nearest fire stations.
      operationId: getFireStationByAddress
      parameters:
      - description: Free Address
        in: query
        name: address
        required: true
        schema:
          type: string
      - description: Specifies the maximum number of fire stations that this service retrieves. The default value is 3 and maximum value is 5. The retrieved results are traveldistance sorted from the input location.
        in: query
        name: maxCandidates
        required: false
        schema:
          type: string
      - description: Max travel time from input location to fire station. Maximum allowed is 2 hours
        in: query
        name: travelTime
        required: false
        schema:
          type: string
      - description: minutes (default), hours, seconds, milliseconds
        in: query
        name: travelTimeUnit
        required: false
        schema:
          type: string
      - description: Max travel distance from input location to fire station. Maximum allowed is 50 miles
        in: query
        name: travelDistance
        required: false
        schema:
          type: string
      - description: Feet (default), Kilometers, Miles, Meters
        in: query
        name: travelDistanceUnit
        required: false
        schema:
          type: string
      - description: time (default), distance
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: Historic traffic time slab
        in: query
        name: historicTrafficTimeBucket
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fireStations'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: Get Fire Station By Address
      tags:
      - Risks  Service
      x-accepts: application/json
components:
  schemas:
    RisksBoundaries:
      example:
        boundary:
        - ref: ref
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          type: type
        - ref: ref
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          type: type
      properties:
        boundary:
          items:
            $ref: '#/components/schemas/CrimeBoundary'
          type: array
      type: object
    EarthquakeRiskByAddressRequest:
      example:
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/RiskAddress'
          type: array
        preferences:
          $ref: '#/components/schemas/RiskPreferences'
      required:
      - addresses
      type: object
    CrimeBoundary:
      example:
        ref: ref
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        id: id
        type: type
      properties:
        id:
          type: string
        type:
          type: string
        ref:
          type: string
        geometry:
          $ref: '#/components/schemas/CommonGeometry'
      type: object
    fireStations:
      example:
        fireStation:
        - numWithinDepartment: numWithinDepartment
          travelTime:
            unit: unit
            value: value
          travelDistance:
            unit: unit
            value: value
          fireDepartment:
            name: name
            numberOfStations: 0
            administrativeOfficeOnly: true
            type: type
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              phone: phone
              fax: fax
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          locationReference: locationReference
          contactDetails:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            phone: phone
            fax: fax
        - numWithinDepartment: numWithinDepartment
          travelTime:
            unit: unit
            value: value
          travelDistance:
            unit: unit
            value: value
          fireDepartment:
            name: name
            numberOfStations: 0
            administrativeOfficeOnly: true
            type: type
            contactDetails:
              address:
                country: country
                streetSide: streetSide
                city: city
                displayName: displayName
                postalCode: postalCode
                latitude: latitude
                businessName: businessName
                county: county
                unitType: unitType
                streetName: streetName
                formattedAddress: formattedAddress
                addressLine1: addressLine1
                mainAddressLine: mainAddressLine
                addressLine2: addressLine2
                addressLine3: addressLine3
                objectId: objectId
                addressLastLine: addressLastLine
                longitude: longitude
                unitValue: unitValue
                stateProvince: stateProvince
                urbanizationName: urbanizationName
                areaName1: areaName1
                areaName2: areaName2
                areaName3: areaName3
                areaName4: areaName4
                addressNumber: addressNumber
                postCode: postCode
                postCodeExt: postCodeExt
                placeName: placeName
                status: status
              phone: phone
              fax: fax
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          locationReference: locationReference
          contactDetails:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            phone: phone
            fax: fax
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        fireStation:
          items:
            $ref: '#/components/schemas/fireStation'
          type: array
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    FireDepartment:
      example:
        name: name
        numberOfStations: 0
        administrativeOfficeOnly: true
        type: type
        contactDetails:
          address:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
          phone: phone
          fax: fax
      properties:
        name:
          type: string
        type:
          type: string
        numberOfStations:
          format: int32
          type: integer
        administrativeOfficeOnly:
          type: boolean
        contactDetails:
          $ref: '#/components/schemas/FireStationContactDetails'
      type: object
    distance:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
    CrimeRiskPreferences:
      example:
        includeGeometry: includeGeometry
        type: type
      properties:
        includeGeometry:
          type: string
        type:
          type: string
      type: object
    PrimaryZone:
      example:
        code: code
        description: description
      properties:
        code:
          type: string
        description:
          type: string
      type: object
    MitigationGroup:
      example:
        topoPos: 9
        fStnDist: 8
        waterDist: 9
        burnable: 6
      properties:
        waterDist:
          format: int32
          type: integer
        topoPos:
          format: int32
          type: integer
        burnable:
          format: int32
          type: integer
        fStnDist:
          format: int32
          type: integer
      type: object
    EarthquakeRiskByLocationRequest:
      example:
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/RiskPreferences'
      required:
      - locations
      type: object
    FireRiskByLocationRequest:
      example:
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/RiskPreferences'
      required:
      - locations
      type: object
    FireRiskResponseList:
      example:
        fireRisk:
        - state:
            code: code
            fips: fips
          objectId: objectId
          fireShed:
            risk:
              severity: 5
              risk50Rating: 6
              distanceToFireStation: 2
              pastFires: 5
              golfCourse: golfCourse
              roadDist: roadDist
              continuity: continuity
              description: description
              vegetation: vegetation
              waterDist: waterDist
              tierDescription: tierDescription
              type: type
              slope: slope
              frequency: 1
              nonburn: nonburn
              foehn: foehn
              tier: tier
              aspect: aspect
              adjustment: adjustment
              crownFire: crownFire
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: 0
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - state:
            code: code
            fips: fips
          objectId: objectId
          fireShed:
            risk:
              severity: 5
              risk50Rating: 6
              distanceToFireStation: 2
              pastFires: 5
              golfCourse: golfCourse
              roadDist: roadDist
              continuity: continuity
              description: description
              vegetation: vegetation
              waterDist: waterDist
              tierDescription: tierDescription
              type: type
              slope: slope
              frequency: 1
              nonburn: nonburn
              foehn: foehn
              tier: tier
              aspect: aspect
              adjustment: adjustment
              crownFire: crownFire
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: 0
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        fireRisk:
          items:
            $ref: '#/components/schemas/FireRiskResponse'
          type: array
      type: object
    RisksGeometryCRC:
      example:
        type: type
        properties:
          name: name
      properties:
        type:
          type: string
        properties:
          $ref: '#/components/schemas/GeometryProperties'
      type: object
    SeverityGroup:
      example:
        intensity: 7
        windSpd: 3
        emberCast: 2
        crownFire: 9
      properties:
        intensity:
          format: int32
          type: integer
        crownFire:
          format: int32
          type: integer
        windSpd:
          format: int32
          type: integer
        emberCast:
          format: int32
          type: integer
      type: object
    EventsCount:
      example:
        r2: r2
        r1_ge: r1_ge
        r3: r3
        r4: r4
        r0_ge: r0_ge
        r5: r5
        r2_ge: r2_ge
        r3_ge: r3_ge
        r6: r6
        r4_ge: r4_ge
        r7: r7
        total: total
        r7_ge: r7_ge
        r6_ge: r6_ge
        r5_ge: r5_ge
        r0: r0
        r1: r1
      properties:
        total:
          type: string
        r0:
          type: string
        r1:
          type: string
        r2:
          type: string
        r3:
          type: string
        r4:
          type: string
        r5:
          type: string
        r6:
          type: string
        r7:
          type: string
        r0_ge:
          type: string
        r1_ge:
          type: string
        r2_ge:
          type: string
        r3_ge:
          type: string
        r4_ge:
          type: string
        r5_ge:
          type: string
        r6_ge:
          type: string
        r7_ge:
          type: string
      type: object
    BaseFloodElevation:
      example:
        unit: unit
        value: value
      properties:
        unit:
          type: string
        value:
          type: string
      type: object
    RiskGeometry:
      example:
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      required:
      - type
      type: object
    CrimeRiskByAddressBatchRequest:
      example:
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        preferences:
          includeGeometry: includeGeometry
          type: type
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/RiskAddress'
          type: array
        preferences:
          $ref: '#/components/schemas/CrimeRiskPreferences'
      required:
      - addresses
      type: object
    FireStationContactDetails:
      example:
        address:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        phone: phone
        fax: fax
      properties:
        address:
          $ref: '#/components/schemas/RiskAddress'
        phone:
          type: string
        fax:
          type: string
      type: object
    IndexVariable:
      example:
        score: score
        percentile: percentile
        name: name
        category: category
        stateScore: stateScore
      properties:
        name:
          type: string
        score:
          type: string
        category:
          type: string
        percentile:
          type: string
        stateScore:
          type: string
      type: object
    FloodRiskResponseList:
      example:
        floodRisk:
        - boundary:
            ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
          floodZone:
            primaryZone:
              code: code
              description: description
            code: code
            riskLevel: riskLevel
            areaType: areaType
            baseFloodElevation:
              unit: unit
              value: value
            additionalInfo: additionalInfo
          state:
            code: code
            fips: fips
          community:
            number: number
            status:
              code: code
              description: description
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - boundary:
            ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
          floodZone:
            primaryZone:
              code: code
              description: description
            code: code
            riskLevel: riskLevel
            areaType: areaType
            baseFloodElevation:
              unit: unit
              value: value
            additionalInfo: additionalInfo
          state:
            code: code
            fips: fips
          community:
            number: number
            status:
              code: code
              description: description
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        floodRisk:
          items:
            $ref: '#/components/schemas/FloodRiskResponse'
          type: array
      type: object
    GeometryProperties:
      example:
        name: name
      properties:
        name:
          type: string
      type: object
    FloodRiskResponse:
      example:
        boundary:
          ref: ref
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: id
          type: type
        floodZone:
          primaryZone:
            code: code
            description: description
          code: code
          riskLevel: riskLevel
          areaType: areaType
          baseFloodElevation:
            unit: unit
            value: value
          additionalInfo: additionalInfo
        state:
          code: code
          fips: fips
        community:
          number: number
          status:
            code: code
            description: description
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        state:
          $ref: '#/components/schemas/State'
        floodZone:
          $ref: '#/components/schemas/FloodZone'
        community:
          $ref: '#/components/schemas/Community'
        boundary:
          $ref: '#/components/schemas/CrimeBoundary'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    EarthquakeRiskResponse:
      example:
        riskLevel: riskLevel
        grid:
          code: code
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
        eventsCount:
          r2: r2
          r1_ge: r1_ge
          r3: r3
          r4: r4
          r0_ge: r0_ge
          r5: r5
          r2_ge: r2_ge
          r3_ge: r3_ge
          r6: r6
          r4_ge: r4_ge
          r7: r7
          total: total
          r7_ge: r7_ge
          r6_ge: r6_ge
          r5_ge: r5_ge
          r0: r0
          r1: r1
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        riskLevel:
          type: string
        eventsCount:
          $ref: '#/components/schemas/EventsCount'
        grid:
          $ref: '#/components/schemas/Grid'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    CrimeIndexTheme:
      example:
        boundaryRef: boundaryRef
        source: source
        indexVariable:
        - score: score
          percentile: percentile
          name: name
          category: category
          stateScore: stateScore
        - score: score
          percentile: percentile
          name: name
          category: category
          stateScore: stateScore
      properties:
        source:
          type: string
        boundaryRef:
          type: string
        indexVariable:
          items:
            $ref: '#/components/schemas/IndexVariable'
          type: array
      type: object
    FireRiskV2Response:
      example:
        severity: 6
        damage: 5
        severityGroupElements:
          intensity: 7
          windSpd: 3
          emberCast: 2
          crownFire: 9
        mitigation: 2
        frequencyGroupElements:
          histPerim: 7
          lineDist: 1
          burnProb: 4
          probIgnit: 1
        noharmCls: noharmCls
        noharmModel: noharmModel
        mitigationGroupElements:
          topoPos: 9
          fStnDist: 8
          waterDist: 9
          burnable: 6
        noharmId: noharmId
        damageGroupElements:
          histLoss: 4
          insectsAndDisease: 5
        community: 5
        risk50: 0
        frequency: 1
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        riskDesc: riskDesc
        communityGroupElements:
          wAlignRd: 1
          vegCover: 7
          accEgress: 6
          structure: 1
        geometry:
          crs:
            type: type
            properties:
              name: name
          coordinates: '{}'
          type: type
        state: state
        objectId: objectId
      properties:
        objectId:
          type: string
        state:
          type: string
        noharmId:
          type: string
        noharmCls:
          type: string
        noharmModel:
          type: string
        riskDesc:
          type: string
        risk50:
          format: int32
          type: integer
        severity:
          format: int32
          type: integer
        frequency:
          format: int32
          type: integer
        community:
          format: int32
          type: integer
        damage:
          format: int32
          type: integer
        mitigation:
          format: int32
          type: integer
        severityGroupElements:
          $ref: '#/components/schemas/SeverityGroup'
        frequencyGroupElements:
          $ref: '#/components/schemas/FrequencyGroup'
        communityGroupElements:
          $ref: '#/components/schemas/CommunityGroup'
        damageGroupElements:
          $ref: '#/components/schemas/DamageGroup'
        mitigationGroupElements:
          $ref: '#/components/schemas/MitigationGroup'
        geometry:
          $ref: '#/components/schemas/CommonGeometry'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    FloodRiskPreferences:
      example:
        richterValue: richterValue
        includeZoneDesc: includeZoneDesc
        includeGeometry: includeGeometry
      properties:
        includeGeometry:
          type: string
        includeZoneDesc:
          type: string
        richterValue:
          type: string
      type: object
    FloodRiskByLocationRequest:
      example:
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodRiskPreferences'
      required:
      - locations
      type: object
    FireRiskResponse:
      example:
        state:
          code: code
          fips: fips
        objectId: objectId
        fireShed:
          risk:
            severity: 5
            risk50Rating: 6
            distanceToFireStation: 2
            pastFires: 5
            golfCourse: golfCourse
            roadDist: roadDist
            continuity: continuity
            description: description
            vegetation: vegetation
            waterDist: waterDist
            tierDescription: tierDescription
            type: type
            slope: slope
            frequency: 1
            nonburn: nonburn
            foehn: foehn
            tier: tier
            aspect: aspect
            adjustment: adjustment
            crownFire: crownFire
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          id: 0
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        state:
          $ref: '#/components/schemas/State'
        fireShed:
          $ref: '#/components/schemas/FireShed'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    DamageGroup:
      example:
        histLoss: 4
        insectsAndDisease: 5
      properties:
        histLoss:
          format: int32
          type: integer
        insectsAndDisease:
          format: int32
          type: integer
      type: object
    Risk:
      example:
        severity: 5
        risk50Rating: 6
        distanceToFireStation: 2
        pastFires: 5
        golfCourse: golfCourse
        roadDist: roadDist
        continuity: continuity
        description: description
        vegetation: vegetation
        waterDist: waterDist
        tierDescription: tierDescription
        type: type
        slope: slope
        frequency: 1
        nonburn: nonburn
        foehn: foehn
        tier: tier
        aspect: aspect
        adjustment: adjustment
        crownFire: crownFire
      properties:
        type:
          type: string
        description:
          type: string
        risk50Rating:
          format: int32
          type: integer
        frequency:
          format: int32
          type: integer
        nonburn:
          type: string
        pastFires:
          format: int32
          type: integer
        severity:
          format: int32
          type: integer
        continuity:
          type: string
        adjustment:
          type: string
        aspect:
          type: string
        crownFire:
          type: string
        vegetation:
          type: string
        foehn:
          type: string
        golfCourse:
          type: string
        roadDist:
          type: string
        slope:
          type: string
        waterDist:
          type: string
        tier:
          type: string
        tierDescription:
          type: string
        distanceToFireStation:
          format: int32
          type: integer
      type: object
    fireStation:
      example:
        numWithinDepartment: numWithinDepartment
        travelTime:
          unit: unit
          value: value
        travelDistance:
          unit: unit
          value: value
        fireDepartment:
          name: name
          numberOfStations: 0
          administrativeOfficeOnly: true
          type: type
          contactDetails:
            address:
              country: country
              streetSide: streetSide
              city: city
              displayName: displayName
              postalCode: postalCode
              latitude: latitude
              businessName: businessName
              county: county
              unitType: unitType
              streetName: streetName
              formattedAddress: formattedAddress
              addressLine1: addressLine1
              mainAddressLine: mainAddressLine
              addressLine2: addressLine2
              addressLine3: addressLine3
              objectId: objectId
              addressLastLine: addressLastLine
              longitude: longitude
              unitValue: unitValue
              stateProvince: stateProvince
              urbanizationName: urbanizationName
              areaName1: areaName1
              areaName2: areaName2
              areaName3: areaName3
              areaName4: areaName4
              addressNumber: addressNumber
              postCode: postCode
              postCodeExt: postCodeExt
              placeName: placeName
              status: status
            phone: phone
            fax: fax
        geometry:
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
        locationReference: locationReference
        contactDetails:
          address:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
          phone: phone
          fax: fax
      properties:
        numWithinDepartment:
          type: string
        locationReference:
          type: string
        travelDistance:
          $ref: '#/components/schemas/distance'
        travelTime:
          $ref: '#/components/schemas/Time'
        contactDetails:
          $ref: '#/components/schemas/FireStationContactDetails'
        fireDepartment:
          $ref: '#/components/schemas/FireDepartment'
        geometry:
          $ref: '#/components/schemas/Geometry'
      type: object
    EarthquakeRiskResponseList:
      example:
        earthquakeRisk:
        - riskLevel: riskLevel
          grid:
            code: code
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
          eventsCount:
            r2: r2
            r1_ge: r1_ge
            r3: r3
            r4: r4
            r0_ge: r0_ge
            r5: r5
            r2_ge: r2_ge
            r3_ge: r3_ge
            r6: r6
            r4_ge: r4_ge
            r7: r7
            total: total
            r7_ge: r7_ge
            r6_ge: r6_ge
            r5_ge: r5_ge
            r0: r0
            r1: r1
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - riskLevel: riskLevel
          grid:
            code: code
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
          eventsCount:
            r2: r2
            r1_ge: r1_ge
            r3: r3
            r4: r4
            r0_ge: r0_ge
            r5: r5
            r2_ge: r2_ge
            r3_ge: r3_ge
            r6: r6
            r4_ge: r4_ge
            r7: r7
            total: total
            r7_ge: r7_ge
            r6_ge: r6_ge
            r5_ge: r5_ge
            r0: r0
            r1: r1
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        earthquakeRisk:
          items:
            $ref: '#/components/schemas/EarthquakeRiskResponse'
          type: array
      type: object
    Community:
      example:
        number: number
        status:
          code: code
          description: description
      properties:
        number:
          type: string
        status:
          $ref: '#/components/schemas/Status'
      type: object
    FrequencyGroup:
      example:
        histPerim: 7
        lineDist: 1
        burnProb: 4
        probIgnit: 1
      properties:
        burnProb:
          format: int32
          type: integer
        histPerim:
          format: int32
          type: integer
        probIgnit:
          format: int32
          type: integer
        lineDist:
          format: int32
          type: integer
      type: object
    FloodZone:
      example:
        primaryZone:
          code: code
          description: description
        code: code
        riskLevel: riskLevel
        areaType: areaType
        baseFloodElevation:
          unit: unit
          value: value
        additionalInfo: additionalInfo
      properties:
        code:
          type: string
        areaType:
          type: string
        riskLevel:
          type: string
        primaryZone:
          $ref: '#/components/schemas/PrimaryZone'
        baseFloodElevation:
          $ref: '#/components/schemas/BaseFloodElevation'
        additionalInfo:
          type: string
      type: object
    Time:
      example:
        unit: unit
        value: value
      properties:
        value:
          type: string
        unit:
          type: string
      type: object
    State:
      example:
        code: code
        fips: fips
      properties:
        fips:
          type: string
        code:
          type: string
      type: object
    FireRiskV2ResponseList:
      example:
        fireRisk:
        - severity: 6
          damage: 5
          severityGroupElements:
            intensity: 7
            windSpd: 3
            emberCast: 2
            crownFire: 9
          mitigation: 2
          frequencyGroupElements:
            histPerim: 7
            lineDist: 1
            burnProb: 4
            probIgnit: 1
          noharmCls: noharmCls
          noharmModel: noharmModel
          mitigationGroupElements:
            topoPos: 9
            fStnDist: 8
            waterDist: 9
            burnable: 6
          noharmId: noharmId
          damageGroupElements:
            histLoss: 4
            insectsAndDisease: 5
          community: 5
          risk50: 0
          frequency: 1
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
          riskDesc: riskDesc
          communityGroupElements:
            wAlignRd: 1
            vegCover: 7
            accEgress: 6
            structure: 1
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          state: state
          objectId: objectId
        - severity: 6
          damage: 5
          severityGroupElements:
            intensity: 7
            windSpd: 3
            emberCast: 2
            crownFire: 9
          mitigation: 2
          frequencyGroupElements:
            histPerim: 7
            lineDist: 1
            burnProb: 4
            probIgnit: 1
          noharmCls: noharmCls
          noharmModel: noharmModel
          mitigationGroupElements:
            topoPos: 9
            fStnDist: 8
            waterDist: 9
            burnable: 6
          noharmId: noharmId
          damageGroupElements:
            histLoss: 4
            insectsAndDisease: 5
          community: 5
          risk50: 0
          frequency: 1
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
          riskDesc: riskDesc
          communityGroupElements:
            wAlignRd: 1
            vegCover: 7
            accEgress: 6
            structure: 1
          geometry:
            crs:
              type: type
              properties:
                name: name
            coordinates: '{}'
            type: type
          state: state
          objectId: objectId
      properties:
        fireRisk:
          items:
            $ref: '#/components/schemas/FireRiskV2Response'
          type: array
      type: object
    CommonGeometry:
      example:
        crs:
          type: type
          properties:
            name: name
        coordinates: '{}'
        type: type
      properties:
        type:
          type: string
        crs:
          $ref: '#/components/schemas/RisksGeometryCRC'
        coordinates:
          type: object
      type: object
    RiskPreferences:
      example:
        richterValue: richterValue
        includeZoneDesc: includeZoneDesc
        includeGeometry: includeGeometry
      properties:
        includeGeometry:
          type: string
        includeZoneDesc:
          type: string
        richterValue:
          type: string
      type: object
    RiskAddress:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    FloodRiskByAddressRequest:
      example:
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        preferences:
          richterValue: richterValue
          includeZoneDesc: includeZoneDesc
          includeGeometry: includeGeometry
      properties:
        addresses:
          items:
            $ref: '#/components/schemas/RiskAddress'
          type: array
        preferences:
          $ref: '#/components/schemas/FloodRiskPreferences'
      required:
      - addresses
      type: object
    CrimeRiskByLocationBatchRequest:
      example:
        preferences:
          includeGeometry: includeGeometry
          type: type
        locations:
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
        - geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          objectId: objectId
          purchaseAmount: purchaseAmount
      properties:
        locations:
          items:
            $ref: '#/components/schemas/RiskLocations'
          type: array
        preferences:
          $ref: '#/components/schemas/CrimeRiskPreferences'
      required:
      - locations
      type: object
    CrimeRiskResponse:
      example:
        themes:
        - crimeIndexTheme:
            boundaryRef: boundaryRef
            source: source
            indexVariable:
            - score: score
              percentile: percentile
              name: name
              category: category
              stateScore: stateScore
            - score: score
              percentile: percentile
              name: name
              category: category
              stateScore: stateScore
        - crimeIndexTheme:
            boundaryRef: boundaryRef
            source: source
            indexVariable:
            - score: score
              percentile: percentile
              name: name
              category: category
              stateScore: stateScore
            - score: score
              percentile: percentile
              name: name
              category: category
              stateScore: stateScore
        boundaries:
          boundary:
          - ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
          - ref: ref
            geometry:
              crs:
                type: type
                properties:
                  name: name
              coordinates: '{}'
              type: type
            id: id
            type: type
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        themes:
          items:
            $ref: '#/components/schemas/RisksCrimeTheme'
          type: array
        boundaries:
          $ref: '#/components/schemas/RisksBoundaries'
        matchedAddress:
          $ref: '#/components/schemas/RiskAddress'
      type: object
    CrimeRiskResponseList:
      example:
        crimeRisk:
        - themes:
          - crimeIndexTheme:
              boundaryRef: boundaryRef
              source: source
              indexVariable:
              - score: score
                percentile: percentile
                name: name
                category: category
                stateScore: stateScore
              - score: score
                percentile: percentile
                name: name
                category: category
                stateScore: stateScore
          - crimeIndexTheme:
              boundaryRef: boundaryRef
              source: source
              indexVariable:
              - score: score
                percentile: percentile
                name: name
                category: category
                stateScore: stateScore
              - score: score
                percentile: percentile
                name: name
                category: category
                stateScore: stateScore
          boundaries:
            boundary:
            - ref: ref
              geometry:
                crs:
                  type: type
                  properties:
                    name: name
                coordinates: '{}'
                type: type
              id: id
              type: type
            - ref: ref
              geometry:
                crs:
                  type: type
                  properties:
                    name: name
                coordinates: '{}'
                type: type
              id: id
              type: type
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
[...]
