openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Select API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Select
paths:
  /typeahead/v1/list/select:
    get:
      operationId: listSelect
      parameters:
      - description: Selected Address to be searched.
        explode: true
        in: query
        name: selectedAddress
        required: true
        schema:
          type: string
        style: form
      - description: Country ISO code. We need to make sure that either Lat/Lng or Country is provided to API
        explode: true
        in: query
        name: country
        required: false
        schema:
          type: string
        style: form
      - description: transactionId.
        explode: true
        in: query
        name: transactionId
        required: true
        schema:
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
          description: OK
      tags:
      - Select
      x-accepts: application/json
components:
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
