openapi: 3.0.1
info:
  contact:
    name: Precisely APIs Support
    url: https://support.precisely.com
  description: '

    Demographics. Audience Enrichment. Add local demographics and lifestyle

    segmentation to your audience profiles. The Demographics API returns

    household demographics and lifestyle characteristics with the input of an

    address, location coordinate, or geographic boundary. This service covers

    select countries.'
  license:
    name: Apache 2.0
    url: http://springdoc.org
  termsOfService: http://swagger.io/terms/
  title: Precisely APIs Attributes API
  version: 18.1.0
servers:
- url: https://api.precisely.com
security:
- oAuth2Password:
  - ''
tags:
- name: Attributes
paths:
  /property/v2/attributes/byaddress:
    get:
      description: GetPropertyAttributesbyAddress Endpoint will take address as an input and will return key property attributes in response. Optionally user will have the option to filter the attributes and will pay for only returned attributes.
      operationId: getPropertyAttributesByAddress
      parameters:
      - description: free form address text
        in: query
        name: address
        required: false
        schema:
          type: string
      - description: Case-insensitive comma separated values of property attributes. Response will contain only the input attributes.
        in: query
        name: attributes
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyInfoResponse'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: PropertyV2 Attributes By Address.
      tags:
      - Attributes
      x-accepts: application/json
    post:
      description: GetPropertyAttributesbyAddressBatch Endpoint will take the list of addresses as an input and will return key property attributes for the given addresses in response. Optionally user will have the option to filter the attributes and will pay for only returned attributes.
      operationId: getPropertyAttributesByAddressBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyInfoAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyInfoResponses'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo_1'
          description: Bad Request
        '500':
          content:
            application/json:
              schema:
                type: string
          description: Internal Server Error
      security:
      - oAuth2Password: []
      summary: PropertyV2 Attributes By Address Batch.
      tags:
      - Attributes
      x-contentType: application/json
      x-accepts: application/json
components:
  schemas:
    BuildgFeaturesSqft:
      example:
        areaIndicator: areaIndicator
        description: description
        featureAreaSqFt: featureAreaSqFt
      properties:
        featureAreaSqFt:
          type: string
        areaIndicator:
          type: string
        description:
          type: string
      type: object
    PropertyInfoResponses:
      example:
        propertyInfoResponses:
        - propertyAttributes:
            caExemptions:
              code: code
              value: value
            buildgSqFtSource:
              code: code
              value: value
            legalLotCode: legalLotCode
            propSqFt: propSqFt
            owners:
            - firstName: firstName
              lastName: lastName
              ownerName: ownerName
              middleName: middleName
              ownerId: ownerId
            - firstName: firstName
              lastName: lastName
              ownerName: ownerName
              middleName: middleName
              ownerId: ownerId
            propFrontFootage: propFrontFootage
            lastUpdated: lastUpdated
            buildgCount: buildgCount
            basementType:
              code: code
              value: value
            marketValueYear: marketValueYear
            formattedTaxAddress:
              unitType: unitType
              postCode2: postCode2
              postCode1: postCode1
              streetPreDirection: streetPreDirection
              streetName: streetName
              streetType: streetType
              city: city
              addressNumber: addressNumber
              streetPostDirection: streetPostDirection
              mainAddressLine: mainAddressLine
              state: state
              unitValue: unitValue
            elevator: elevator
            taxYear: taxYear
            partialBaths: partialBaths
            buildgUnitNo: buildgUnitNo
            absenteeOwner:
              code: code
              value: value
            priorSalePageNumber: priorSalePageNumber
            ownerVestType:
              code: code
              value: value
            buildgFeaturesSqFt:
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            legalLotNumber: legalLotNumber
            roofCoverType:
              code: code
              value: value
            assessedLandValue: assessedLandValue
            salesDate: salesDate
            pool: pool
            propDepthFootage: propDepthFootage
            propApn: propApn
            mobileHome: mobileHome
            bedrooms: bedrooms
            taxSalesPriceCode:
              code: code
              value: value
            priorSaleFolioNumber: priorSaleFolioNumber
            coolingType:
              code: code
              value: value
            vacancy:
              code: code
              value: value
            taxRateCode: taxRateCode
            legalDistrict: legalDistrict
            amenities:
              code: code
              value: value
            assessedYear: assessedYear
            situsAddress:
              unitType: unitType
              postCode2: postCode2
              postCode1: postCode1
              streetPreDirection: streetPreDirection
              streetName: streetName
              streetType: streetType
              city: city
              addressNumber: addressNumber
              streetPostDirection: streetPostDirection
              mainAddressLine: mainAddressLine
              state: state
              unitValue: unitValue
            foundation:
              code: code
              value: value
            grossSqft: grossSqft
            legalUnitNumber: legalUnitNumber
            fireplace: fireplace
            sewerType: sewerType
            locCode:
              code: code
              value: value
            recBookNumber: recBookNumber
            legalSectionTownshipRange: legalSectionTownshipRange
            pbKey: pbKey
            propLinkId: propLinkId
            taxAddress: taxAddress
            assessedValue: assessedValue
            taxAccountNumber: taxAccountNumber
            priorSaleDocType: priorSaleDocType
            buildgCondition:
              code: code
              value: value
            interiorWall:
              code: code
              value: value
            roofFrameType:
              code: code
              value: value
            propAcres: propAcres
            exteriorWalls:
              code: code
              value: value
            buildgSqFt: buildgSqFt
            baths: baths
            fuelType:
              code: code
              value: value
            garageType:
              code: code
              value: value
            propZoning: propZoning
            priorSaleCode:
              code: code
              value: value
            marketValueImp: marketValueImp
            priorSaleDocNumber: priorSaleDocNumber
            buildgQuality:
              code: code
              value: value
            geometry:
              coordinates:
              - 0.8008281904610115
              - 0.8008281904610115
              type: type
            marketValueLand: marketValueLand
            landUse:
              code: code
              value: value
            bathFixtures: bathFixtures
            basementSqFt: basementSqFt
            ownerType: ownerType
            rooms: rooms
            heatingType:
              code: code
              value: value
            recPageNumber: recPageNumber
            taxExemptions:
            - code: code
              value: value
            - code: code
              value: value
            taxDocType:
              code: code
              value: value
            replacementCost: replacementCost
            legalSubName: legalSubName
            floorType:
              code: code
              value: value
            assessedValueImp: assessedValueImp
            roofShapeType:
              code: code
              value: value
            geoId: geoId
            taxTapeCutDate: taxTapeCutDate
            legalSection: legalSection
            otherRooms:
              code: code
              value: value
            recDocNumber: recDocNumber
            appraisedValueImp: appraisedValueImp
            legalFullDesc: legalFullDesc
            legalBlock: legalBlock
            buildgView:
              code: code
              value: value
            fipsCode: fipsCode
            poolType:
              code: code
              value: value
            legalLandLot: legalLandLot
            plumbingFixtures: plumbingFixtures
            energyType:
              code: code
              value: value
            buildgName: buildgName
            propApnSequence: propApnSequence
            builtYear: builtYear
            priorSaleDate: priorSaleDate
            taxAmount: taxAmount
            appraisedValue: appraisedValue
            appraisedValueLand: appraisedValueLand
            parkingCapacity: parkingCapacity
            buildgType:
              code: code
              value: value
            parkingSqFt: parkingSqFt
            priorSalesPrice: priorSalesPrice
            waterType: waterType
            legalPhaseNumber: legalPhaseNumber
            buildgStyle:
              code: code
              value: value
            legalMapRef: legalMapRef
            subdivision: subdivision
            effectiveBuiltYear: effectiveBuiltYear
            buildgImproveArea:
            - improveArea: improveArea
              areaIndicator: areaIndicator
              description: description
            - improveArea: improveArea
              areaIndicator: areaIndicator
              description: description
            legalAssessorDesc: legalAssessorDesc
            propSiteInfluene:
              code: code
              value: value
            construction:
              code: code
              value: value
            livingSqFt: livingSqFt
            buildgImproveType:
              code: code
              value: value
            fireplaceType:
              code: code
              value: value
            taxDelYear: taxDelYear
            stories:
              description: description
              value: value
            taxSalesPrice: taxSalesPrice
            marketValue: marketValue
            extraFeatureSqft:
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            adjGrossSqft: adjGrossSqft
            propType: propType
            legalTractNumber: legalTractNumber
            legalTownMuniName: legalTownMuniName
            buildgClass:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
        - propertyAttributes:
            caExemptions:
              code: code
              value: value
            buildgSqFtSource:
              code: code
              value: value
            legalLotCode: legalLotCode
            propSqFt: propSqFt
            owners:
            - firstName: firstName
              lastName: lastName
              ownerName: ownerName
              middleName: middleName
              ownerId: ownerId
            - firstName: firstName
              lastName: lastName
              ownerName: ownerName
              middleName: middleName
              ownerId: ownerId
            propFrontFootage: propFrontFootage
            lastUpdated: lastUpdated
            buildgCount: buildgCount
            basementType:
              code: code
              value: value
            marketValueYear: marketValueYear
            formattedTaxAddress:
              unitType: unitType
              postCode2: postCode2
              postCode1: postCode1
              streetPreDirection: streetPreDirection
              streetName: streetName
              streetType: streetType
              city: city
              addressNumber: addressNumber
              streetPostDirection: streetPostDirection
              mainAddressLine: mainAddressLine
              state: state
              unitValue: unitValue
            elevator: elevator
            taxYear: taxYear
            partialBaths: partialBaths
            buildgUnitNo: buildgUnitNo
            absenteeOwner:
              code: code
              value: value
            priorSalePageNumber: priorSalePageNumber
            ownerVestType:
              code: code
              value: value
            buildgFeaturesSqFt:
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            legalLotNumber: legalLotNumber
            roofCoverType:
              code: code
              value: value
            assessedLandValue: assessedLandValue
            salesDate: salesDate
            pool: pool
            propDepthFootage: propDepthFootage
            propApn: propApn
            mobileHome: mobileHome
            bedrooms: bedrooms
            taxSalesPriceCode:
              code: code
              value: value
            priorSaleFolioNumber: priorSaleFolioNumber
            coolingType:
              code: code
              value: value
            vacancy:
              code: code
              value: value
            taxRateCode: taxRateCode
            legalDistrict: legalDistrict
            amenities:
              code: code
              value: value
            assessedYear: assessedYear
            situsAddress:
              unitType: unitType
              postCode2: postCode2
              postCode1: postCode1
              streetPreDirection: streetPreDirection
              streetName: streetName
              streetType: streetType
              city: city
              addressNumber: addressNumber
              streetPostDirection: streetPostDirection
              mainAddressLine: mainAddressLine
              state: state
              unitValue: unitValue
            foundation:
              code: code
              value: value
            grossSqft: grossSqft
            legalUnitNumber: legalUnitNumber
            fireplace: fireplace
            sewerType: sewerType
            locCode:
              code: code
              value: value
            recBookNumber: recBookNumber
            legalSectionTownshipRange: legalSectionTownshipRange
            pbKey: pbKey
            propLinkId: propLinkId
            taxAddress: taxAddress
            assessedValue: assessedValue
            taxAccountNumber: taxAccountNumber
            priorSaleDocType: priorSaleDocType
            buildgCondition:
              code: code
              value: value
            interiorWall:
              code: code
              value: value
            roofFrameType:
              code: code
              value: value
            propAcres: propAcres
            exteriorWalls:
              code: code
              value: value
            buildgSqFt: buildgSqFt
            baths: baths
            fuelType:
              code: code
              value: value
            garageType:
              code: code
              value: value
            propZoning: propZoning
            priorSaleCode:
              code: code
              value: value
            marketValueImp: marketValueImp
            priorSaleDocNumber: priorSaleDocNumber
            buildgQuality:
              code: code
              value: value
            geometry:
              coordinates:
              - 0.8008281904610115
              - 0.8008281904610115
              type: type
            marketValueLand: marketValueLand
            landUse:
              code: code
              value: value
            bathFixtures: bathFixtures
            basementSqFt: basementSqFt
            ownerType: ownerType
            rooms: rooms
            heatingType:
              code: code
              value: value
            recPageNumber: recPageNumber
            taxExemptions:
            - code: code
              value: value
            - code: code
              value: value
            taxDocType:
              code: code
              value: value
            replacementCost: replacementCost
            legalSubName: legalSubName
            floorType:
              code: code
              value: value
            assessedValueImp: assessedValueImp
            roofShapeType:
              code: code
              value: value
            geoId: geoId
            taxTapeCutDate: taxTapeCutDate
            legalSection: legalSection
            otherRooms:
              code: code
              value: value
            recDocNumber: recDocNumber
            appraisedValueImp: appraisedValueImp
            legalFullDesc: legalFullDesc
            legalBlock: legalBlock
            buildgView:
              code: code
              value: value
            fipsCode: fipsCode
            poolType:
              code: code
              value: value
            legalLandLot: legalLandLot
            plumbingFixtures: plumbingFixtures
            energyType:
              code: code
              value: value
            buildgName: buildgName
            propApnSequence: propApnSequence
            builtYear: builtYear
            priorSaleDate: priorSaleDate
            taxAmount: taxAmount
            appraisedValue: appraisedValue
            appraisedValueLand: appraisedValueLand
            parkingCapacity: parkingCapacity
            buildgType:
              code: code
              value: value
            parkingSqFt: parkingSqFt
            priorSalesPrice: priorSalesPrice
            waterType: waterType
            legalPhaseNumber: legalPhaseNumber
            buildgStyle:
              code: code
              value: value
            legalMapRef: legalMapRef
            subdivision: subdivision
            effectiveBuiltYear: effectiveBuiltYear
            buildgImproveArea:
            - improveArea: improveArea
              areaIndicator: areaIndicator
              description: description
            - improveArea: improveArea
              areaIndicator: areaIndicator
              description: description
            legalAssessorDesc: legalAssessorDesc
            propSiteInfluene:
              code: code
              value: value
            construction:
              code: code
              value: value
            livingSqFt: livingSqFt
            buildgImproveType:
              code: code
              value: value
            fireplaceType:
              code: code
              value: value
            taxDelYear: taxDelYear
            stories:
              description: description
              value: value
            taxSalesPrice: taxSalesPrice
            marketValue: marketValue
            extraFeatureSqft:
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            - areaIndicator: areaIndicator
              description: description
              featureAreaSqFt: featureAreaSqFt
            adjGrossSqft: adjGrossSqft
            propType: propType
            legalTractNumber: legalTractNumber
            legalTownMuniName: legalTownMuniName
            buildgClass:
              code: code
              value: value
          objectId: objectId
          matchedAddress:
            country: country
            streetSide: streetSide
            city: city
            displayName: displayName
            postalCode: postalCode
            latitude: latitude
            businessName: businessName
            county: county
            unitType: unitType
            streetName: streetName
            formattedAddress: formattedAddress
            addressLine1: addressLine1
            mainAddressLine: mainAddressLine
            addressLine2: addressLine2
            addressLine3: addressLine3
            objectId: objectId
            addressLastLine: addressLastLine
            longitude: longitude
            unitValue: unitValue
            stateProvince: stateProvince
            urbanizationName: urbanizationName
            areaName1: areaName1
            areaName2: areaName2
            areaName3: areaName3
            areaName4: areaName4
            addressNumber: addressNumber
            postCode: postCode
            postCodeExt: postCodeExt
            placeName: placeName
            status: status
      properties:
        propertyInfoResponses:
          items:
            $ref: '#/components/schemas/PropertyInfoResponse'
          type: array
      type: object
    BuildgQuality:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildingSqftSource:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    PriorSaleCode:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    InteriorWall:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    PropertyInfoResponse:
      example:
        propertyAttributes:
          caExemptions:
            code: code
            value: value
          buildgSqFtSource:
            code: code
            value: value
          legalLotCode: legalLotCode
          propSqFt: propSqFt
          owners:
          - firstName: firstName
            lastName: lastName
            ownerName: ownerName
            middleName: middleName
            ownerId: ownerId
          - firstName: firstName
            lastName: lastName
            ownerName: ownerName
            middleName: middleName
            ownerId: ownerId
          propFrontFootage: propFrontFootage
          lastUpdated: lastUpdated
          buildgCount: buildgCount
          basementType:
            code: code
            value: value
          marketValueYear: marketValueYear
          formattedTaxAddress:
            unitType: unitType
            postCode2: postCode2
            postCode1: postCode1
            streetPreDirection: streetPreDirection
            streetName: streetName
            streetType: streetType
            city: city
            addressNumber: addressNumber
            streetPostDirection: streetPostDirection
            mainAddressLine: mainAddressLine
            state: state
            unitValue: unitValue
          elevator: elevator
          taxYear: taxYear
          partialBaths: partialBaths
          buildgUnitNo: buildgUnitNo
          absenteeOwner:
            code: code
            value: value
          priorSalePageNumber: priorSalePageNumber
          ownerVestType:
            code: code
            value: value
          buildgFeaturesSqFt:
          - areaIndicator: areaIndicator
            description: description
            featureAreaSqFt: featureAreaSqFt
          - areaIndicator: areaIndicator
            description: description
            featureAreaSqFt: featureAreaSqFt
          legalLotNumber: legalLotNumber
          roofCoverType:
            code: code
            value: value
          assessedLandValue: assessedLandValue
          salesDate: salesDate
          pool: pool
          propDepthFootage: propDepthFootage
          propApn: propApn
          mobileHome: mobileHome
          bedrooms: bedrooms
          taxSalesPriceCode:
            code: code
            value: value
          priorSaleFolioNumber: priorSaleFolioNumber
          coolingType:
            code: code
            value: value
          vacancy:
            code: code
            value: value
          taxRateCode: taxRateCode
          legalDistrict: legalDistrict
          amenities:
            code: code
            value: value
          assessedYear: assessedYear
          situsAddress:
            unitType: unitType
            postCode2: postCode2
            postCode1: postCode1
            streetPreDirection: streetPreDirection
            streetName: streetName
            streetType: streetType
            city: city
            addressNumber: addressNumber
            streetPostDirection: streetPostDirection
            mainAddressLine: mainAddressLine
            state: state
            unitValue: unitValue
          foundation:
            code: code
            value: value
          grossSqft: grossSqft
          legalUnitNumber: legalUnitNumber
          fireplace: fireplace
          sewerType: sewerType
          locCode:
            code: code
            value: value
          recBookNumber: recBookNumber
          legalSectionTownshipRange: legalSectionTownshipRange
          pbKey: pbKey
          propLinkId: propLinkId
          taxAddress: taxAddress
          assessedValue: assessedValue
          taxAccountNumber: taxAccountNumber
          priorSaleDocType: priorSaleDocType
          buildgCondition:
            code: code
            value: value
          interiorWall:
            code: code
            value: value
          roofFrameType:
            code: code
            value: value
          propAcres: propAcres
          exteriorWalls:
            code: code
            value: value
          buildgSqFt: buildgSqFt
          baths: baths
          fuelType:
            code: code
            value: value
          garageType:
            code: code
            value: value
          propZoning: propZoning
          priorSaleCode:
            code: code
            value: value
          marketValueImp: marketValueImp
          priorSaleDocNumber: priorSaleDocNumber
          buildgQuality:
            code: code
            value: value
          geometry:
            coordinates:
            - 0.8008281904610115
            - 0.8008281904610115
            type: type
          marketValueLand: marketValueLand
          landUse:
            code: code
            value: value
          bathFixtures: bathFixtures
          basementSqFt: basementSqFt
          ownerType: ownerType
          rooms: rooms
          heatingType:
            code: code
            value: value
          recPageNumber: recPageNumber
          taxExemptions:
          - code: code
            value: value
          - code: code
            value: value
          taxDocType:
            code: code
            value: value
          replacementCost: replacementCost
          legalSubName: legalSubName
          floorType:
            code: code
            value: value
          assessedValueImp: assessedValueImp
          roofShapeType:
            code: code
            value: value
          geoId: geoId
          taxTapeCutDate: taxTapeCutDate
          legalSection: legalSection
          otherRooms:
            code: code
            value: value
          recDocNumber: recDocNumber
          appraisedValueImp: appraisedValueImp
          legalFullDesc: legalFullDesc
          legalBlock: legalBlock
          buildgView:
            code: code
            value: value
          fipsCode: fipsCode
          poolType:
            code: code
            value: value
          legalLandLot: legalLandLot
          plumbingFixtures: plumbingFixtures
          energyType:
            code: code
            value: value
          buildgName: buildgName
          propApnSequence: propApnSequence
          builtYear: builtYear
          priorSaleDate: priorSaleDate
          taxAmount: taxAmount
          appraisedValue: appraisedValue
          appraisedValueLand: appraisedValueLand
          parkingCapacity: parkingCapacity
          buildgType:
            code: code
            value: value
          parkingSqFt: parkingSqFt
          priorSalesPrice: priorSalesPrice
          waterType: waterType
          legalPhaseNumber: legalPhaseNumber
          buildgStyle:
            code: code
            value: value
          legalMapRef: legalMapRef
          subdivision: subdivision
          effectiveBuiltYear: effectiveBuiltYear
          buildgImproveArea:
          - improveArea: improveArea
            areaIndicator: areaIndicator
            description: description
          - improveArea: improveArea
            areaIndicator: areaIndicator
            description: description
          legalAssessorDesc: legalAssessorDesc
          propSiteInfluene:
            code: code
            value: value
          construction:
            code: code
            value: value
          livingSqFt: livingSqFt
          buildgImproveType:
            code: code
            value: value
          fireplaceType:
            code: code
            value: value
          taxDelYear: taxDelYear
          stories:
            description: description
            value: value
          taxSalesPrice: taxSalesPrice
          marketValue: marketValue
          extraFeatureSqft:
          - areaIndicator: areaIndicator
            description: description
            featureAreaSqFt: featureAreaSqFt
          - areaIndicator: areaIndicator
            description: description
            featureAreaSqFt: featureAreaSqFt
          adjGrossSqft: adjGrossSqft
          propType: propType
          legalTractNumber: legalTractNumber
          legalTownMuniName: legalTownMuniName
          buildgClass:
            code: code
            value: value
        objectId: objectId
        matchedAddress:
          country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        objectId:
          type: string
        propertyAttributes:
          $ref: '#/components/schemas/PropertyAttributes'
        matchedAddress:
          $ref: '#/components/schemas/MatchedAddress'
      type: object
    PropSiteInfluene:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    Vacancy:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    FormattedTaxAddress:
      example:
        unitType: unitType
        postCode2: postCode2
        postCode1: postCode1
        streetPreDirection: streetPreDirection
        streetName: streetName
        streetType: streetType
        city: city
        addressNumber: addressNumber
        streetPostDirection: streetPostDirection
        mainAddressLine: mainAddressLine
        state: state
        unitValue: unitValue
      properties:
        mainAddressLine:
          type: string
        addressNumber:
          type: string
        streetPreDirection:
          type: string
        streetName:
          type: string
        streetType:
          type: string
        streetPostDirection:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
        city:
          type: string
        state:
          type: string
        postCode1:
          type: string
        postCode2:
          type: string
      type: object
    Owners:
      example:
        firstName: firstName
        lastName: lastName
        ownerName: ownerName
        middleName: middleName
        ownerId: ownerId
      properties:
        ownerId:
          type: string
        firstName:
          type: string
        middleName:
          type: string
        lastName:
          type: string
        ownerName:
          type: string
      type: object
    EnergyType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    TaxDocType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    TaxExemption:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    RoofFrameType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    FireplaceType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    SitusAddress:
      example:
        unitType: unitType
        postCode2: postCode2
        postCode1: postCode1
        streetPreDirection: streetPreDirection
        streetName: streetName
        streetType: streetType
        city: city
        addressNumber: addressNumber
        streetPostDirection: streetPostDirection
        mainAddressLine: mainAddressLine
        state: state
        unitValue: unitValue
      properties:
        mainAddressLine:
          type: string
        addressNumber:
          type: string
        streetPreDirection:
          type: string
        streetName:
          type: string
        streetType:
          type: string
        streetPostDirection:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
        city:
          type: string
        state:
          type: string
        postCode1:
          type: string
        postCode2:
          type: string
      type: object
    CaExemptions:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    Construction:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgStyle:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    RoofCoverType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    CoolingType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgView:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    FloorType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    OtherRooms:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    PropertyInfoPreferences:
      example:
        attributes: attributes
      properties:
        attributes:
          type: string
      type: object
    MatchedAddress:
      example:
        country: country
        streetSide: streetSide
        city: city
        displayName: displayName
        postalCode: postalCode
        latitude: latitude
        businessName: businessName
        county: county
        unitType: unitType
        streetName: streetName
        formattedAddress: formattedAddress
        addressLine1: addressLine1
        mainAddressLine: mainAddressLine
        addressLine2: addressLine2
        addressLine3: addressLine3
        objectId: objectId
        addressLastLine: addressLastLine
        longitude: longitude
        unitValue: unitValue
        stateProvince: stateProvince
        urbanizationName: urbanizationName
        areaName1: areaName1
        areaName2: areaName2
        areaName3: areaName3
        areaName4: areaName4
        addressNumber: addressNumber
        postCode: postCode
        postCodeExt: postCodeExt
        placeName: placeName
        status: status
      properties:
        objectId:
          type: string
        displayName:
          type: string
        streetSide:
          type: string
        businessName:
          type: string
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        city:
          type: string
        stateProvince:
          type: string
        county:
          type: string
        postalCode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        status:
          type: string
        urbanizationName:
          type: string
        formattedAddress:
          type: string
        mainAddressLine:
          type: string
        addressLastLine:
          type: string
        placeName:
          type: string
        areaName1:
          type: string
        areaName2:
          type: string
        areaName3:
          type: string
        areaName4:
          type: string
        postCode:
          type: string
        postCodeExt:
          type: string
        country:
          type: string
        addressNumber:
          type: string
        streetName:
          type: string
        unitType:
          type: string
        unitValue:
          type: string
      type: object
    BasementType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgCondition:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    PoolType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    RoofShapeType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    ExteriorWalls:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    Amenities:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgClass:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    OwnerVestType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    ExtraFeatureSqft:
      example:
        areaIndicator: areaIndicator
        description: description
        featureAreaSqFt: featureAreaSqFt
      properties:
        featureAreaSqFt:
          type: string
        areaIndicator:
          type: string
        description:
          type: string
      type: object
    PropertyGeometry:
      example:
        coordinates:
        - 0.8008281904610115
        - 0.8008281904610115
        type: type
      properties:
        type:
          type: string
        coordinates:
          items:
            format: double
            type: number
          type: array
      required:
      - type
      type: object
    LandUse:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    FuelType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    PropertyAttributes:
      example:
        caExemptions:
          code: code
          value: value
        buildgSqFtSource:
          code: code
          value: value
        legalLotCode: legalLotCode
        propSqFt: propSqFt
        owners:
        - firstName: firstName
          lastName: lastName
          ownerName: ownerName
          middleName: middleName
          ownerId: ownerId
        - firstName: firstName
          lastName: lastName
          ownerName: ownerName
          middleName: middleName
          ownerId: ownerId
        propFrontFootage: propFrontFootage
        lastUpdated: lastUpdated
        buildgCount: buildgCount
        basementType:
          code: code
          value: value
        marketValueYear: marketValueYear
        formattedTaxAddress:
          unitType: unitType
          postCode2: postCode2
          postCode1: postCode1
          streetPreDirection: streetPreDirection
          streetName: streetName
          streetType: streetType
          city: city
          addressNumber: addressNumber
          streetPostDirection: streetPostDirection
          mainAddressLine: mainAddressLine
          state: state
          unitValue: unitValue
        elevator: elevator
        taxYear: taxYear
        partialBaths: partialBaths
        buildgUnitNo: buildgUnitNo
        absenteeOwner:
          code: code
          value: value
        priorSalePageNumber: priorSalePageNumber
        ownerVestType:
          code: code
          value: value
        buildgFeaturesSqFt:
        - areaIndicator: areaIndicator
          description: description
          featureAreaSqFt: featureAreaSqFt
        - areaIndicator: areaIndicator
          description: description
          featureAreaSqFt: featureAreaSqFt
        legalLotNumber: legalLotNumber
        roofCoverType:
          code: code
          value: value
        assessedLandValue: assessedLandValue
        salesDate: salesDate
        pool: pool
        propDepthFootage: propDepthFootage
        propApn: propApn
        mobileHome: mobileHome
        bedrooms: bedrooms
        taxSalesPriceCode:
          code: code
          value: value
        priorSaleFolioNumber: priorSaleFolioNumber
        coolingType:
          code: code
          value: value
        vacancy:
          code: code
          value: value
        taxRateCode: taxRateCode
        legalDistrict: legalDistrict
        amenities:
          code: code
          value: value
        assessedYear: assessedYear
        situsAddress:
          unitType: unitType
          postCode2: postCode2
          postCode1: postCode1
          streetPreDirection: streetPreDirection
          streetName: streetName
          streetType: streetType
          city: city
          addressNumber: addressNumber
          streetPostDirection: streetPostDirection
          mainAddressLine: mainAddressLine
          state: state
          unitValue: unitValue
        foundation:
          code: code
          value: value
        grossSqft: grossSqft
        legalUnitNumber: legalUnitNumber
        fireplace: fireplace
        sewerType: sewerType
        locCode:
          code: code
          value: value
        recBookNumber: recBookNumber
        legalSectionTownshipRange: legalSectionTownshipRange
        pbKey: pbKey
        propLinkId: propLinkId
        taxAddress: taxAddress
        assessedValue: assessedValue
        taxAccountNumber: taxAccountNumber
        priorSaleDocType: priorSaleDocType
        buildgCondition:
          code: code
          value: value
        interiorWall:
          code: code
          value: value
        roofFrameType:
          code: code
          value: value
        propAcres: propAcres
        exteriorWalls:
          code: code
          value: value
        buildgSqFt: buildgSqFt
        baths: baths
        fuelType:
          code: code
          value: value
        garageType:
          code: code
          value: value
        propZoning: propZoning
        priorSaleCode:
          code: code
          value: value
        marketValueImp: marketValueImp
        priorSaleDocNumber: priorSaleDocNumber
        buildgQuality:
          code: code
          value: value
        geometry:
          coordinates:
          - 0.8008281904610115
          - 0.8008281904610115
          type: type
        marketValueLand: marketValueLand
        landUse:
          code: code
          value: value
        bathFixtures: bathFixtures
        basementSqFt: basementSqFt
        ownerType: ownerType
        rooms: rooms
        heatingType:
          code: code
          value: value
        recPageNumber: recPageNumber
        taxExemptions:
        - code: code
          value: value
        - code: code
          value: value
        taxDocType:
          code: code
          value: value
        replacementCost: replacementCost
        legalSubName: legalSubName
        floorType:
          code: code
          value: value
        assessedValueImp: assessedValueImp
        roofShapeType:
          code: code
          value: value
        geoId: geoId
        taxTapeCutDate: taxTapeCutDate
        legalSection: legalSection
        otherRooms:
          code: code
          value: value
        recDocNumber: recDocNumber
        appraisedValueImp: appraisedValueImp
        legalFullDesc: legalFullDesc
        legalBlock: legalBlock
        buildgView:
          code: code
          value: value
        fipsCode: fipsCode
        poolType:
          code: code
          value: value
        legalLandLot: legalLandLot
        plumbingFixtures: plumbingFixtures
        energyType:
          code: code
          value: value
        buildgName: buildgName
        propApnSequence: propApnSequence
        builtYear: builtYear
        priorSaleDate: priorSaleDate
        taxAmount: taxAmount
        appraisedValue: appraisedValue
        appraisedValueLand: appraisedValueLand
        parkingCapacity: parkingCapacity
        buildgType:
          code: code
          value: value
        parkingSqFt: parkingSqFt
        priorSalesPrice: priorSalesPrice
        waterType: waterType
        legalPhaseNumber: legalPhaseNumber
        buildgStyle:
          code: code
          value: value
        legalMapRef: legalMapRef
        subdivision: subdivision
        effectiveBuiltYear: effectiveBuiltYear
        buildgImproveArea:
        - improveArea: improveArea
          areaIndicator: areaIndicator
          description: description
        - improveArea: improveArea
          areaIndicator: areaIndicator
          description: description
        legalAssessorDesc: legalAssessorDesc
        propSiteInfluene:
          code: code
          value: value
        construction:
          code: code
          value: value
        livingSqFt: livingSqFt
        buildgImproveType:
          code: code
          value: value
        fireplaceType:
          code: code
          value: value
        taxDelYear: taxDelYear
        stories:
          description: description
          value: value
        taxSalesPrice: taxSalesPrice
        marketValue: marketValue
        extraFeatureSqft:
        - areaIndicator: areaIndicator
          description: description
          featureAreaSqFt: featureAreaSqFt
        - areaIndicator: areaIndicator
          description: description
          featureAreaSqFt: featureAreaSqFt
        adjGrossSqft: adjGrossSqft
        propType: propType
        legalTractNumber: legalTractNumber
        legalTownMuniName: legalTownMuniName
        buildgClass:
          code: code
          value: value
      properties:
        pbKey:
          type: string
        propApn:
          type: string
        propType:
          type: string
        propSqFt:
          type: string
        buildgSqFt:
          type: string
        buildgSqFtSource:
          $ref: '#/components/schemas/BuildingSqftSource'
        landUse:
          $ref: '#/components/schemas/LandUse'
        construction:
          $ref: '#/components/schemas/Construction'
        roofCoverType:
          $ref: '#/components/schemas/RoofCoverType'
        subdivision:
          type: string
        geometry:
          $ref: '#/components/schemas/PropertyGeometry'
        builtYear:
          type: string
        bedrooms:
          type: string
        baths:
          type: string
        partialBaths:
          type: string
        bathFixtures:
          type: string
        pool:
          type: string
        poolType:
          $ref: '#/components/schemas/PoolType'
        fireplace:
          type: string
        fireplaceType:
          $ref: '#/components/schemas/FireplaceType'
        mobileHome:
          type: string
        heatingType:
          $ref: '#/components/schemas/HeatingType'
        coolingType:
          $ref: '#/components/schemas/CoolingType'
        assessedValue:
          type: string
        marketValue:
          type: string
        appraisedValue:
          type: string
        taxAmount:
          type: string
        taxExemptions:
          items:
            $ref: '#/components/schemas/TaxExemption'
          type: array
        caExemptions:
          $ref: '#/components/schemas/CaExemptions'
        salesDate:
          type: string
        priorSaleDate:
          type: string
        priorSalesPrice:
          type: string
        priorSaleDocType:
          type: string
        priorSaleCode:
          $ref: '#/components/schemas/PriorSaleCode'
        priorSaleFolioNumber:
          type: string
        priorSalePageNumber:
          type: string
        priorSaleDocNumber:
          type: string
        stories:
          $ref: '#/components/schemas/Stories'
        livingSqFt:
          type: string
        roofFrameType:
          $ref: '#/components/schemas/RoofFrameType'
        foundation:
          $ref: '#/components/schemas/Foundation'
        buildgCondition:
          $ref: '#/components/schemas/BuildgCondition'
        buildgCount:
          type: string
        buildgUnitNo:
          type: string
        buildgFeaturesSqFt:
          items:
            $ref: '#/components/schemas/BuildgFeaturesSqft'
          type: array
        taxAddress:
          type: string
        formattedTaxAddress:
          $ref: '#/components/schemas/FormattedTaxAddress'
        situsAddress:
          $ref: '#/components/schemas/SitusAddress'
        vacancy:
          $ref: '#/components/schemas/Vacancy'
        owners:
          items:
            $ref: '#/components/schemas/Owners'
          type: array
        appraisedValueImp:
          type: string
        assessedValueImp:
          type: string
        buildgType:
          $ref: '#/components/schemas/BuildgType'
        basementType:
          $ref: '#/components/schemas/BasementType'
        effectiveBuiltYear:
          type: string
        exteriorWalls:
          $ref: '#/components/schemas/ExteriorWalls'
        garageType:
          $ref: '#/components/schemas/GarageType'
        lastUpdated:
          type: string
        marketValueImp:
          type: string
        absenteeOwner:
          $ref: '#/components/schemas/AbsenteeOwner'
        parkingSqFt:
          type: string
        replacementCost:
          type: string
        roofShapeType:
          $ref: '#/components/schemas/RoofShapeType'
        buildgStyle:
          $ref: '#/components/schemas/BuildgStyle'
        basementSqFt:
          type: string
        ownerType:
          type: string
        ownerVestType:
          $ref: '#/components/schemas/OwnerVestType'
        elevator:
          type: string
        propApnSequence:
          type: string
        fipsCode:
          type: string
        propZoning:
          type: string
        locCode:
          $ref: '#/components/schemas/LocCode'
        legalMapRef:
          type: string
        legalAssessorDesc:
          type: string
        legalFullDesc:
          type: string
        legalLotCode:
          type: string
        legalLotNumber:
          type: string
        legalLandLot:
          type: string
        legalTractNumber:
          type: string
        legalBlock:
          type: string
        legalSection:
          type: string
        legalDistrict:
          type: string
        legalUnitNumber:
          type: string
        legalPhaseNumber:
          type: string
        legalSubName:
          type: string
        legalTownMuniName:
          type: string
        legalSectionTownshipRange:
          type: string
        propAcres:
          type: string
        propFrontFootage:
          type: string
        propDepthFootage:
          type: string
        buildgView:
          $ref: '#/components/schemas/BuildgView'
        propSiteInfluene:
          $ref: '#/components/schemas/PropSiteInfluene'
        buildgName:
          type: string
        buildgQuality:
          $ref: '#/components/schemas/BuildgQuality'
        buildgImproveType:
          $ref: '#/components/schemas/BuildgImproveType'
        grossSqft:
          type: string
        adjGrossSqft:
          type: string
        buildgClass:
          $ref: '#/components/schemas/BuildgClass'
        interiorWall:
          $ref: '#/components/schemas/InteriorWall'
        floorType:
          $ref: '#/components/schemas/FloorType'
        rooms:
          type: string
        otherRooms:
          $ref: '#/components/schemas/OtherRooms'
        plumbingFixtures:
          type: string
        parkingCapacity:
          type: string
        energyType:
          $ref: '#/components/schemas/EnergyType'
        fuelType:
          $ref: '#/components/schemas/FuelType'
        sewerType:
          type: string
        waterType:
          type: string
        amenities:
          $ref: '#/components/schemas/Amenities'
        extraFeatureSqft:
          items:
            $ref: '#/components/schemas/ExtraFeatureSqft'
          type: array
        buildgImproveArea:
          items:
            $ref: '#/components/schemas/BuildgImproveArea'
          type: array
        taxAccountNumber:
          type: string
        taxTapeCutDate:
          type: string
        taxDocType:
          $ref: '#/components/schemas/TaxDocType'
        taxSalesPrice:
          type: string
        taxSalesPriceCode:
          $ref: '#/components/schemas/TaxSalesPriceCode'
        recBookNumber:
          type: string
        recPageNumber:
          type: string
        recDocNumber:
          type: string
        taxYear:
          type: string
        taxDelYear:
          type: string
        assessedYear:
          type: string
        assessedLandValue:
          type: string
        marketValueYear:
          type: string
        marketValueLand:
          type: string
        appraisedValueLand:
          type: string
        taxRateCode:
          type: string
        propLinkId:
          type: string
        geoId:
          type: string
      type: object
    PropertyInfoAddressRequest:
      example:
        preferences:
          attributes: attributes
        addresses:
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
        - country: country
          streetSide: streetSide
          city: city
          displayName: displayName
          postalCode: postalCode
          latitude: latitude
          businessName: businessName
          county: county
          unitType: unitType
          streetName: streetName
          formattedAddress: formattedAddress
          addressLine1: addressLine1
          mainAddressLine: mainAddressLine
          addressLine2: addressLine2
          addressLine3: addressLine3
          objectId: objectId
          addressLastLine: addressLastLine
          longitude: longitude
          unitValue: unitValue
          stateProvince: stateProvince
          urbanizationName: urbanizationName
          areaName1: areaName1
          areaName2: areaName2
          areaName3: areaName3
          areaName4: areaName4
          addressNumber: addressNumber
          postCode: postCode
          postCodeExt: postCodeExt
          placeName: placeName
          status: status
      properties:
        preferences:
          $ref: '#/components/schemas/PropertyInfoPreferences'
        addresses:
          items:
            $ref: '#/components/schemas/MatchedAddress'
          type: array
      required:
      - addresses
      - preferences
      type: object
    BuildgType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    HeatingType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgImproveType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    TaxSalesPriceCode:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    BuildgImproveArea:
      example:
        improveArea: improveArea
        areaIndicator: areaIndicator
        description: description
      properties:
        improveArea:
          type: string
        areaIndicator:
          type: string
        description:
          type: string
      type: object
    Foundation:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    ErrorInfo_1:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorCode'
          type: array
      type: object
    GarageType:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    LocCode:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    Stories:
      example:
        description: description
        value: value
      properties:
        value:
          type: string
        description:
          type: string
      type: object
    AbsenteeOwner:
      example:
        code: code
        value: value
      properties:
        code:
          type: string
        value:
          type: string
      type: object
    ErrorCode:
      properties:
        errorCode:
          type: string
        errorDescription:
          type: string
      type: object
  securitySchemes:
    oAuth2Password:
      flows:
        implicit:
          authorizationUrl: https://api.precisely.com/oauth/token
          scopes:
            bearer token: put your bearer token here.
      type: oauth2
externalDocs:
  description: Online Documentation
  url: https://docs.precisely.com/docs/sftw/precisely-apis/main/en-us/webhelp/apis/index.html
